[2021-04-27 14:01] thegoodhen commented on #3988
So apparently, in ecc.c on lines 8550 to 8554 there are include guards that prevent keySz from being defined when ATECC is used, even though the variable is still acessed in such a case? Oof.

[code]
Okay, if I define the keySz no matter what the defines say, the compilation (drumroll) crashes on something else. Oh well.

[2021-04-27 15:03] hustliyilin opened #3989 "Is there plan to support deb package?"
I'm a user of ubuntu, Is there plan to support the wolfssl deb package? Thanks a  lot.

[2021-04-27 15:08] mcr commented on #3984
I'm from the 8-bit world and 20Mhz 68020 workstation world, and sure, header size mattered then.
Are there compilers where the size of the headers really matters more than having the documentation right next to the definition where it can be updated easily?

[2021-04-27 15:16] dgarske commented on #3989
@lechner, can you answer this?

These links might be useful:
https://packages.debian.org/search?keywords=wolfssl
https://repology.org/project/wolfssl/versions
https://tracker.debian.org/pkg/wolfssl

Thanks, David Garske, wolfSSL

[2021-04-27 15:32] thegoodhen commented on #3978
Hello, it seems fine now. I tried running it and there were no errors. Thank you for your quick response. David

[2021-04-27 16:51] thegoodhen commented on #3988
@BrianAker  does anyone have a minimum example for ESP32 that would compile and actually work with the atecc608a?

[2021-04-27 21:02] BrianAker commented on #3988
Sorry, I don’t have anything that specific.

乌

[2021-04-27 21:39] embhorn commented on #3988
@miyazakh Could you please review this report?

[2021-04-27 22:04] kaleb-himes commented on #3694
After reviewing this with the team the only RFC section that explicitly states an Implementation must reject a cert after applying RFC822Name rules is in reference to the email address that appears in the "subject distinguished name".

https://tools.ietf.org/html/rfc5280#section-4.2.1.10

[code]

We are happy to dive further into this discussion as it pertains to the `Freshest CRL:` if warranted b

[2021-04-27 22:04] #3694 closed

[2021-04-28 02:45] hustliyilin commented on #3989
Thank you for your quick reply. The information you provided is enough for me, thanks again.

[2021-04-28 02:45] #3989 closed

[2021-04-28 08:55] thegoodhen commented on #3988
I navigated to esp-idf\components and git-pulled https://github.com/espressif/esp-cryptoauthlib

idf.py menuconfig gives me the options to configure esp-cryptoauthlib and it gets built (at least partially)

[code]

But then the compilation fails on

[code]

[2021-04-28 08:59] thegoodhen commented on #3988
idf.py menuconfig -> compatibility options -> include headers across components does NOT fix anything. Running idf.py fullclean before does not help either.

[2021-04-28 09:39] thegoodhen commented on #3988
Okay, the reason for the last problem is that the wolfssl expects a different directory naming and structure; I added esp_cryptoauthlib as a requirement for wolfssl (which will likely break compilation of everything if you don't have cryptoauthlib installed :D )

`set(COMPONENT_REQUIRES lwip esp_cryptoauthlib)` (in CMakeLists.txt in the wolfssl directory.

Now it stopped complaining about missing

[2021-04-28 10:01] thegoodhen commented on #3988
tng_atcacert_read_device_cert and tng_atcacert_read_signer_cert both exist inside (...)\esp\esp-idf\components\esp_cryptoauthlib\cryptoauthlib\app\tng\tng_atcacert_client.c

So I am not sure what the deal is there...

[2021-04-28 11:19] thegoodhen commented on #3988
WOLFSSL_ATECC_TNGTLS is undefined in atmel.c , which is preventing "tng_atcacert_client.h" from getting included; defining it still doesn't help, since the path doesn't get resolved;

This change removes the errors related to missing definitions of the functions:

(in atmel.c)

[code]

[2021-04-28 11:25] thegoodhen commented on #3988
Okay, so adding the define into atca_basic.h as such:

[code]

Finally allows the project to compile, with a rather ominous warning stating

` warning: #warning "Using a constant host nonce with atcab_read_enc, atcab_write_enc, etcc., can allow spoofing of a device by replaying previously recorded messages" [-Wcpp]`

Probably not something I should just ignore, but hey, it compiles! I don't really

[2021-04-28 11:32] thegoodhen commented on #3988
To anyone reading: I have taken desperate measures to get the darn thing to compile; the changes I have made allow that and only that; it is not recommended you follow what I did.

[2021-04-28 12:21] thegoodhen commented on #3988
Even when I enable  #define WOLFSSL_ESPWROOM32 and undefine  #define WOLFSSL_ESPWROOM32SE in settings.h, I get a runtime error:

E (2708) tls_client: ERROR: failed to load -150, please check the file.

I tried enabling debug by defining -DDEBUG_WOLFSSL, but then the compilation crashes on an undefined reference to WOLFSSL_MSG...

...Okay, so if I add #define DEBUG_WOLFSSL to settings.h, it works f

[2021-04-28 12:52] thegoodhen commented on #3988
I think I give up for now, my objective was to get something that's proven to work and move on from there, which doesn't seem possible. Hit me up if you want me to perform additional tests to help you debug the problem. I will go try mbedTLS instead of wolfSSL and I'll see where that gets me.

[2021-04-29 02:52] miyazakh commented on #3988
Hi @thegoodhen

Thank you very much for reporting this.

32se support seems relatively obsolete.  I verified those examples at the following conditions:
ESP-IDF : v3.3-beta1-39-g6cb37ecc5(commit hash : 6cb37ecc5)
CryptAuthLib: commit hash : c6b176e
and, wolfSSL v4.0.0.
Unfortunately, I cannot find esp32 se board here. Once I find esp32se or set up sp32 plus atecc608A, I will update those examples

[2021-04-29 07:19] thegoodhen commented on #3988
Aha! That makes a lot of sense.  Thank you for your prompt response. Should you need to install esp-idf, I shall warn you that version 4.0.2 (current version) of esp-idf plugin for Visual Code studio has a bug that makes it impossible to compile anything.
Maybe it can be fixed, but I just downgraded to 4.0.1 ...

I have also encountered a problem at one point, where the communication with ATECC di

[2021-04-29 21:32] cconlon commented on #3835
Hi @lijintv07, I'm going to close this issue for now, but feel free to reopen if you have any issues with the example above.

Thanks,
Chris

[2021-04-29 21:32] #3835 closed

[2021-04-30 12:32] vaintroub opened #3998 "MariaDB build is broken with recent wolfssl"
Suspect that WOLFSSL_USER_IO is broken . It had also been broken in 4.7.1r

commit 385e0bedaac935a1fc86766fbb2fcc47c9b82386 (HEAD -> master, origin/master, origin/HEAD)
Merge: edb0beb9b 73076940a
Author: David Garske <david@wolfssl.com>
Date:   Tue Apr 27 17:07:58 2021 -0700

**Settings**
<pre>
#ifndef WOLFSSL_USER_SETTINGS_H
#define WOLFSSL_USER_SETTINGS_H

#define HAVE_CRL
#define WOLFSSL_MYSQL_

[2021-04-30 16:37] dgarske commented on #3998
Thanks @vaintroub for the report. I can reproduce. I believe this was broken in PR #3824 with a BIO layer refactor. I will push up a fix and reference this issue. David Garske, wolfSSL

[2021-04-30 17:53] dgarske commented on #3998
Hi @vaintroub a fix has been pushed to #3999. Let me know if I missed anything. Thanks, David Garske, wolfSSL

[2021-05-02 14:53] MTKNTS opened #4004 "KEIL 5.25: Errors in compiling sp_cortexm.c (__asm__ __volatile__)"
I am going to use WolfCrypto to implement AES or CHACHA20 encryptions on STM32F407VGT6. I followed your guidance and add wolfcrypto patch to STM32CubeMX and after configuring, hit the Generate Code button. Now, when I try to compile it I get errors related to `__asm__ __volatile__`.

First error:

Second error:

By changing `__volatile__` to `volatile` the first error will be removed. However, the

[2021-05-02 15:24] dgarske commented on #4004
Please let us know your compiler and version. Thanks

[2021-05-03 04:09] MTKNTS commented on #4004
Sorry to be late. I am using Keil uVision 5.25. Details have been provided in attached image.
![Version](https://user-images.githubusercontent.com/15967013/116840426-038a6d80-abeb-11eb-8a48-11fc65d6e64a.JPG)

[2021-05-03 18:18] dgarske commented on #4004
Hi @MTKNTS ,

I recall we implemented a fix for this in PR https://github.com/wolfSSL/wolfssl/pull/2477/files

The top of sp_cortexm.c has a section for handling this:

[code]

Is that section not being included with that macro logic? What version of wolfSSL is being used?

Thanks,
David Garske, wolfSSL

[2021-05-04 15:39] twilkerson1237 opened #4008 "ChaCha20 with Poly1305 Fails to build"
![ChaCha20Poly1305BuildFail](https://user-images.githubusercontent.com/79463048/117030181-5a687380-accd-11eb-860a-3cadb0f735e3.PNG)

[2021-05-04 15:55] dgarske commented on #4008
Hi @twilkerson1237 ,

Using ChaCha20 with Poly1305 and TLS requires `HAVE_ONE_TIME_AUTH` to be defined.

See:
https://github.com/wolfSSL/wolfssl/blob/master/wolfssl/internal.h#L4293
https://github.com/wolfSSL/wolfssl/blob/master/configure.ac#L3233

Thanks, David Garske, wolfSSL

[2021-05-04 15:56] #4008 closed

[2021-05-04 15:56] twilkerson1237 commented on #4008
Ah I missed that.

[2021-05-04 22:28] Haag-se opened #4009 "Conflicting declarations"
Hi,

I get a lot of errors when compiling my C++ code that includes wolfSSL, Boost.Asio and CppRestSDK. Most errors concerns conflicting declarations in different header files.

Removing wolfSSL solves the conflicts. I have tried both installing wolfSSL with apt-get and from source with the following flags:
[code]

To compile the code:
[code]

This is part of the compiler output:

[code]

[2021-05-04 22:49] elms commented on #4009
@Haag-se It appears that it is including openssl headers as well as wolfSSL headers. I think this occurs when `BOOST_ASIO_USE_WOLFSSL` is not defined. You can resolve this by adding `#include <wolfssl/options.h>` before the other includes for asio or wolfSSL

[2021-05-05 04:31] MTKNTS commented on #4004
I used this file `wolfSSL.I-CUBE-wolfSSL.4.7.0.pack` to add wolfCrypt software pack to my STM32CubeMX. The version of wolfSSL employed by me is `4.7.0`. The first thing I did was to change `__asm__` to `__asm` and `__volatile__` to `volatile`. Nevertheless, as I mentioned before, only the first error would be gone.
Is there any advantage to use STM32CubeIDE rather than Keil when using wolfSSL soft

[2021-05-05 06:40] Haag-se commented on #4009
I tried your solution, but the errors remains. It seems like the combination wolfSSL and Boost.Asio is not the problem. Removing the inclusion of Boost.Asio still gives compilation errors.

Instead, it seems like the combination of wolfSSL and CppRestSDK raises errors.

Boost.Asio + CppRestSDK WORKS
Boost.Asio + wolfSSL WORKS
CppRestSDK + wolfSSL ERRORS

Here is my includes:
[code]

[2021-05-05 08:36] Haag-se commented on #4009
I found a solution!

Building wolfSSl with `--enable-opensslcoexist` did the trick. I had to remove `--enable-asio`, `--enable-opensslall` and `--enable-trustedca` but that's ok.

[2021-05-05 08:36] #4009 closed

[2021-05-06 00:52] SparkiDev commented on #4004
Hi @MTKNTS

Could I get you to try:
#define __volatile__
That is mapping it to nothing.

Thanks,
Sean

[2021-05-06 01:52] SparkiDev commented on #4004
Hi @MTKNTS,

Could you please try removing the register list and see if that compiles? (That is the lines with ':')
Looking at the Keil manuals I can't see the register list as part of the syntax.
We have had it work with other versions of Keil.

[2021-05-07 21:10] haydenroche5 commented on #3887
@hcorion I added this with https://github.com/wolfSSL/wolfssl/pull/4014.

[2021-05-07 21:10] #3887 closed

[2021-05-08 11:58] MTKNTS commented on #4004
I commented lines beginning with `:` then error changed to this:

![Capture](https://user-images.githubusercontent.com/15967013/117538229-7300c280-b01a-11eb-9bdf-893b508f412f.JPG)

[2021-05-09 22:28] SparkiDev commented on #4004
It was a bit of long shot actually but I don't think there is anything else that can be done here.
The compiler doesn't appear to handle a register list like other C compilers.
Looking at the documentation online, there are no examples I can find with the register list - they assume the use of variables in the asm directly.
In order to support Keil, at the version you are using, the assembly code

[2021-05-10 14:26] dgarske commented on #4004
Hi @MTKNTS ,

We did get the SP Cortex-M assembly working with a more recent Keil compiler (v5.31). Is is possible you can upgrade Keil? It looks like they have release v5.34 now.

Thanks,
David Garske, wolfSSL

[2021-05-12 09:16] pfg666 opened #4029 "DTLS handshake restarted with invalid message sequence numbers"
# Update
Check the comment below as the message sequence numbers may be generated by conforming clients in rare scenarios. This relates to both this and [issue 4031](https://github.com/wolfSSL/wolfssl/issues/4031).

### Description
- Type: Bug
- Priority: Minor

## Non-conformance Bug
**OS**
Linux, Ubuntu 20

**build:**
Version: 4.7.1r

**Affected Versions**
DTLS 1.2

**Expected behavior**
Accordi

[2021-05-12 12:01] pfg666 opened #4031 "DTLS handshake started with invalid message sequence numbers"
# Update
Check the comment below as the message sequence numbers may be generated by conforming clients in rare scenarios. This relates to both this and [issue 4029](https://github.com/wolfSSL/wolfssl/issues/4029).

Description
- Type: Bug
- Priority: Minor

# Non-conformance Bug
**OS**
Linux, Ubuntu 20

**build:**
Version: 4.7.1r

**Affected Versions**
DTLS 1.2

**Related issues**
This issue is s

[2021-05-12 17:15] pfg666 commented on #4029
I opened a similar [issue for Scandium](https://github.com/eclipse/californium/issues/1620), which also exhibited this behavior. From the discussions I had there, it appears the DTLS 1.2 RFC may provide some ground for accepting ClientHello messages with increased message sequence numbers based on the quote:

If this is indeed the reason for accepting such ClientHellos, then I think the issue can

[2021-05-12 17:21] pfg666 commented on #4031
I opened a similar [issue for Scandium](https://github.com/eclipse/californium/issues/1620), which also exhibited this behavior. From the discussions I had there, it appears the DTLS 1.2 RFC may provide some ground for accepting ClientHello messages with increased message sequence numbers based on the [quote](https://www.rfc-editor.org/rfc/rfc6347.html#page-18):

If this is indeed the reason for a

[2021-05-15 22:26] speedyb0y commented on #2691
./configure --enable-openvpn --enable-tlsx  --enable-sni --enable-poly1305 --enable-chacha  --enable-aesni --prefix=/usr

[code]

./configure --enable-openvpn --enable-tlsx  --enable-sni --enable-poly1305 --enable-chacha  --enable-aesni --prefix=/usr --enable-intelrand

[code]

Look what happens to ChaCha20-Poly1305 if you use --enable-intelrand ...

[2021-05-17 18:02] dgarske commented on #2691
Hi @speedyb0y ,

I am unable to reproduce with our internal wolfcrypt/benchmark/benchmark. Can you please provide details on the CPU being used and the intel assembly speedups available (something like `cat /proc/cpuinfo` output)? Also can you confirm where these benchmarks are coming from (guessing openvpn)?

[code]

[code]

Thanks,
David Garske, wolfSSL

[2021-05-18 00:59] SparkiDev commented on #2691
Hi @speedyb0y,

I've downloaded crypto-benchmark and tested this on my machine.
There was no difference in performance.
Please try again and make sure the system is not busy.
The rdrand instruction is using chip entropy that can be exhausted. That is, if multiple programs are trying to use rdrand then it may actually return not available and will have to be executed again.
I should also say that w

[2021-05-18 01:07] BrianAker opened #4045 "Won't compile on Debian 10, Ubuntu 20.04, or Fedora 33"
This is the output, the regression hit GitHub on April 24th.

  CC       examples/server/server-server.o
In file included from examples/server/server.c:30:
./wolfssl/wolfcrypt/settings.h:2278:14: error: #warning "For timing resistance / side-channel attack prevention consider using harden options" [-Werror=cpp]
 2278 |             #warning "For timing resistance / side-channel attack prevention co

[2021-05-18 16:24] elms commented on #4045
Hi @BrianAker,

I've seen this before when jumping between revisions, and it can be corrected by running `make distclean`.

An example to reproduce the error
[code]

[code]

I'll look somemore to understand what is happening to need `make distclean`

[2021-05-18 16:29] BrianAker commented on #4045
After doing a “make distclean”, get the following error:

  CC       tests/unit_test-srp.o
In function ‘DeriveKey’,
    inlined from ‘DeriveFinishedSecret’ at src/tls13.c:883:12:
src/tls13.c:438:12: error: ‘hash’ may be used uninitialized [-Werror=maybe-uninitialized]
  438 |     return HKDF_Expand_Label(output, outputLen, secret, hashSz,
      |            ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-05-18 16:35] elms commented on #4045
Can you share the revision and configure arguments you are using?

I think I just identifying the PR that causes the original issue.

[2021-05-18 17:14] elms commented on #4045
@BrianAker For the original issue I think I address it in #4047

[2021-05-18 19:25] BrianAker opened #4048 "Won't compile on Fedora 34"
Pulled from GitHub yesterday/today:

autoreconf -I
./configure
make

CC       wolfcrypt/test/test.o
src/ssl.c: In function ‘wolfSSL_writev’:
src/ssl.c:14460:19: error: ‘staticBuffer’ may be used uninitialized [-Werror=maybe-uninitialized]
14460 |             ret = wolfSSL_write(ssl, myBuffer, sending);
      |                   ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
src/ssl.c:1980:5: note: by argum

[2021-05-18 19:26] BrianAker commented on #4048
[config.log](https://github.com/wolfSSL/wolfssl/files/6503803/config.log)

[2021-05-18 22:07] elms commented on #4048
I've been able to reproduce. New warnings are probably due to gcc 11. At least one of the errors is the compiler being overly cautious. Looking at the best way to suppress warnings in select cases.

[2021-05-18 22:48] kaleb-himes commented on #4048
Just my 2¢, We have yet to add any version of gcc 9, 10, or 11 to our Jenkins slave network due to what we believe are a large number of false positives IE overly zealous compiler warnings when testing with and without fsanitize (libasan).

[2021-05-19 13:29] jacobboertjes opened #4051 "Dead mp_toraw and mp_read_raw macros"
In `wolfssl/wolfcrypt/integer.h`, the macros `mp_toraw` & `mp_read_raw` are defined to point to `mp_to_signed_bin` & `mp_read_signed_bin` respectively, but no implementations for these function are available in the library.

[2021-05-19 20:56] elms commented on #4048
@kaleb-himes @BrianAker I've put up PR https://github.com/wolfSSL/wolfssl/pull/4052 I don't love adding the `pragma`s to disable the warnings on those lines. The other option was adding `memset`. Other issues were related to inconsistent whitespace.

[2021-05-20 14:36] pfg666 opened #4054 "DTLS Client re-transmits ClientHello in response to unexpected messages"
### Description
- Type: Bug
- Priority: Minor

## Non-conformance Bug
**OS**
Linux, Ubuntu 20

**WolfSSL build:**
Version: 4.7.1r

**Affected Versions**
DTLS 1.2

**Expected behavior**
The client should reject the unexpected Finished and ServerHelloDone messages  received from the server, and terminate the session.

**Actual Behavior**
Our testing shows that the client upon receiving these message

[2021-05-20 17:22] elms commented on #4045
Closing since #4047 is merged. Please reopen if you encounter this again.

[2021-05-20 17:22] #4045 closed

[2021-05-20 17:37] BrianAker commented on #4048
I believe the compiler is correct.  If NO_SHA256, WOLFSSL_SHA384, and WOLFSSL_SHA384, are not defined then ‘hash’ may be used uninitialized.
If for some reason you end up with the previous true, I would force the compiler to throw a compile time error  ( assuming that having the hash be zeroed out is not an appropriate state ).

[2021-05-20 18:07] elms commented on #4048
@BrianAker  I did notice that with those define options I added an error to the default case  [see change](https://github.com/wolfSSL/wolfssl/pull/4052/files#diff-927d62a3fce45ef1b7d9ba70df049ab4dc21ea53fc2491b5c006fc96c5af680eR424). I believe this is the correct way to handle it, but I get other errors manually disabling SHA256... don't see a way to set the flag via `configure` and becomes a litt

[2021-05-20 22:03] SparkiDev commented on #4051
Hi @jacobboertjes,

That is correct. We do not support those APIs anymore.
Do you have concerns about this?

[2021-05-25 14:32] ghs-sec opened #4065 "Upstream, addition of an extended version of wc_RsaKeyToPublicDer"
Good afternoon,

When using wolf RSA API, I once needed to export an rsa key without the DER header. This functionality is offered by the static function SetRsaPublicKey, however not accessible for the user. I therefore added an extended version of wc_RsaKeyToPublicDer offering the possibility to chose the header or not.
Therefore, I would like to send it upstream to you, to be eventually included

[2021-05-25 16:48] embhorn commented on #4065
Hi Blaise,

Thank you for the contribution! Could you please open a pull request containing the changes? This will begin the contribution approval process.

Thanks,
Eric @ wolfSSL Support

[2021-05-26 05:59] ghs-sec commented on #4065
Done, thanks for the guidance

[2021-05-26 21:21] oaugustocezar commented on #2380
Have anyone an example of TLS 1.3 on esp8266 ?
I'm trying, but my IO Callback functions look like no work

[2021-05-27 13:44] embhorn commented on #4065
This issue will be fixed by #4068

[2021-05-27 17:32] jacobboertjes commented on #4051
I don't have concerns other than causing a bit of confusion. For example, a function like `wc_ecc_import_raw` along with `mp_toraw`  seem like they should be used together when you have raw key values stored in `mp_int` format. If there is no concerns on your end then this can be closed. I just figured I'd point it out incase it wasn't known.

[2021-05-27 20:41] elms commented on #2380
@oaugustocezar Can you open a new issue with details on the settings you are using and what you are seeing? Feel free to mention this issue to relate them

[2021-05-27 22:33] SparkiDev commented on #4051
Hi @jacobboertjes

Thanks for pointing this out to us!
I agree that it is confusing and appreciate you bring it to our notice.
There is a pull request up now that removes the APIs from the header file.

Thanks,
Sean :-)

[2021-05-27 22:33] #4051 closed

[2021-06-01 16:19] dgarske commented on #2380
Have you seen the IO callback examples in our wolfssl-examples repository here?
https://github.com/wolfSSL/wolfssl-examples/blob/master/tls/client-tls-callback.c

The most common issue is the IO read callback first asks for 5 bytes then the remainder of that TLS packet. The 5 bytes is the TLS header, which indicates the size of the TLS packet. Some modems require receiving a full TCP frame, which

[2021-06-02 17:42] lygstate opened #4082 "Is there any user_settings.h template?"
I want a user_settings.h template with full description.

[2021-06-02 17:43] dgarske commented on #4082
Hi @lygstate ,

See these:
https://github.com/wolfSSL/wolfssl/tree/master/examples/configs
https://github.com/wolfSSL/wolfssl/blob/master/IDE/GCC-ARM/Header/user_settings.h

Thanks,
David Garske, wolfSSL

[2021-06-03 02:41] lygstate commented on #4082
Thanks, https://github.com/wolfSSL/wolfssl/blob/master/IDE/GCC-ARM/Header/user_settings.h

 looks better, but hard to found,
can we update https://github.com/wolfSSL/wolfssl/tree/master/examples/configs/user_settings.h to match
https://github.com/wolfSSL/wolfssl/blob/master/IDE/GCC-ARM/Header/user_settings.h？
I've seen https://github.com/wolfSSL/wolfssl/tree/master/examples/configs/user_settings.h

[2021-06-03 20:32] mmaehren opened #4085 "TLS-RFC compliance"
The original contents of this post have been preserved and moved to an internal tracker so our team has time to review and address the reported items.

Once all fixes have been implemented and any potential exploits addressed the wolfSSL team will restore the contents of the original report.

- The wolfSSL Team

[2021-06-04 16:14] kaleb-himes commented on #4085
@mmaehren,

Thank you so much for the report.

While we do not suspect any of these items are immediately exploitable we would ask that in the future you please send reports of this nature to support@wolfssl.com. This gives our team time to evaluate each item closely for potential exploits and get a fix ready before any report is posted to a public forum.

We do very much appreciate reports of thi

[2021-06-04 18:45] dgarske commented on #4082
Hi @lygstate ,

So you would like to see the IDE/GCC-ARM/Header/user_settings.h in the `examples/configs` dir? That sounds good to me and I will put up something soon with that change soon.

Are you having any build issues or were the example user_settings.h sufficient?

Note: we do have most build macros documented in the user manual in chapter 2 here:
https://www.wolfssl.com/docs/wolfssl-manual/

[2021-06-04 21:03] oaugustocezar opened #4092 "TLS 1.3 with ESP8266"
I'm trying to run a client with wolfssl on ESP8266. I've configured my callback functions to send and receive data, but when I call the wolfSSL_connect(), I send the CLIENT_HELLO_SENT, but i'm not receiving any data from the server.

**Here's my code:**

void setup() {
  int err            = 0;
  char errBuf[80];
  WiFi.begin(SSID, PASS);
  Serial.begin(9600);
  //wolfSSL_Debugging_ON();
  wolfSSL

[2021-06-06 21:10] vaintroub opened #4095 "ARM64, MSVC - fix 64 architecture detection"
ARM64 is not detected as 64 bit architecture (i.e wolfssl_word is 32bit, WC_64BIT_CPU is not set) when compiling on Windows with MSVC.

This results in a lot of truncaction warnings like this

1>C:\work\wolfssl\wolfcrypt/src/misc.c(258,28): warning C4311: 'type cast': pointer truncation from 'void *' to 'wolfssl_word'
1>C:\work\wolfssl\wolfcrypt/src/misc.c(258,48): warning C4311: 'type cast': poin

[2021-06-07 18:24] dgarske commented on #4092
Hi @oaugustocezar ,

Your code and build settings look fine. What is the TLS server you are connecting to and do you have the logs from it? I don't see any sockets being used here, instead it looks like you are sending the client_hello over UART. I assume your `WiFiReceive` is called after the client_hello is sent? Our flow is to first ask for 5 bytes (the TLS header) then `WiFiReceive` is called

[2021-06-08 14:45] Eraz19 opened #4104 "Installing fails at the "make check" step, when the folder path has spaces in it"
On linux (in my case, Pop OS) if you clone the wolfssl repo in a folder path which contains whitespaces in it, the "make check" test suite fails.

[2021-06-08 15:57] elms commented on #4104
@Eraz19 Thanks for the report. I was able to reproduce on Ubuntu 20.04

<details>
<summary>resume.log</summary>

[code]

</details>

<details>
<summary>tls13.log</summary>

[code]

</details>

[2021-06-08 23:40] #4095 closed

[2021-06-09 04:21] elms commented on #4104
@Eraz19 I opened #4108 but will have to sort out failures I caused for other configs.

[2021-06-09 20:50] dgarske commented on #4082
I put up a PR with some additional user_settings.h examples here:
https://github.com/wolfSSL/wolfssl/pull/4110

[2021-06-10 14:34] elms commented on #4048
Closing as #4052 merged. Let me know if you find any other errors

[2021-06-10 14:34] #4048 closed

[2021-06-14 17:25] dgarske commented on #4092
Hi @oaugustocezar ,

I wanted to check in and see if you were able to resolve the Arduino ESP8266 issues? Let us know if you need any further assistance.

Thanks,
David Garske, wolfSSL

[2021-06-14 17:29] embhorn commented on #4065
Being tracked by PR #4068, so closing this issue.

[2021-06-14 17:29] #4065 closed

[2021-06-14 17:30] #3998 closed

[2021-06-14 17:30] #3971 closed

[2021-06-14 17:30] #3430 closed

[2021-06-14 17:31] dgarske commented on #4004
Hi @MTKNTS ,

Did you try updating your Keil compiler to see if that resolved the SP Cortex-M assembly errors? Should we consider this issue solved or is there more we can do to assist your efforts?

Thanks,
David Garske, wolfSSL

[2021-06-14 17:32] embhorn commented on #3661
Hi @pictyeye

Did you have any other questions? Can I close this issue?

[2021-06-15 08:37] MTKNTS commented on #4004
Hi @dgarske
After years of using Keil uVision, I switched to STM32CubeIDE and it worked fine.
Thank you.

[2021-06-15 16:31] elms commented on #4104
@Eraz19 #4108 has merged and fixes this. Thanks for the report.

[2021-06-15 16:31] #4104 closed

[2021-06-15 17:16] #3978 closed

[2021-06-15 17:18] embhorn commented on #3685
Closing for now, but please feel free to reopen with follow-up questions.

[2021-06-15 17:18] #3685 closed

[2021-06-15 17:19] dgarske commented on #4004
Hi @MTKNTS ,

Thank you for the followup and glad you were able to get things working with STM32CubeIDE (which uses GCC).

We have noted the issue with older Keil and SP ASM (inline assembly), but have no immediate plans to work on it.

I am marking this issue solved for now.

Thanks,
David Garske, wolfSSL

[2021-06-15 17:19] #4004 closed

[2021-06-15 17:21] danielinux commented on #3117
Hi @kam193
I'm closing this issue for now. Feel free to re-open if you find a configuration that works with contiki-ng code, or if you want to propose changes.

Best Regards,

--
Daniele

[2021-06-15 17:21] #3117 closed

[2021-06-17 16:39] ejohnstown commented on #4029
Acknowledged.

[2021-06-17 18:18] bgermann opened #4143 "PKCS#11 AES CBC decryption triggers CKR_OPERATION_ACTIVE in continuous session"
Using the PKCS#11 subsystem with SoftHSM2 and tpm2-pkcs11 modules, I end up with CKR_OPERATION_ACTIVE in the following scenario:
[code]

The CKR_OPERATION_ACTIVE triggers in the second wc_AesCbcDecrypt() call. The problem is that the decryption context can still be around in the PKCS#11 session when Pkcs11FindKeyByTemplate() runs C_FindInit(). A possible solution would be to introduce a call to C_

[2021-06-17 20:56] ejohnstown commented on #2330
@ic0ns, the issue is fixed now. It has been for a while now. My colleague changed the retransmit back to the method described in the RFC. (The abbreviated version is an option now.) Also, with the other fix, the flight isn't retransmit with the out of place CCS message, the CCS message out of place is ignored.

[2021-06-17 20:56] #2330 closed

[2021-06-18 02:20] SparkiDev commented on #4143
Hi @bgermann,

I've put up a pull request that makes a PKCS11 call to C_Decrypt rather than C_DecryptUpdate.
https://github.com/wolfSSL/wolfssl/pull/4146

The encrypt operation was already using C_Encrypt.
I don't remember why the difference in API usage and I may have to put in ifdefs to enable the old behaviour.

Let me know if this works for you.

Thanks,
Sean

[2021-06-18 07:51] bgermann commented on #4143
Yes, this works as well.

[2021-06-21 22:53] SparkiDev commented on #4143
Hi @bgermann,

Do you have any further problems with the AES-CBC code in PKCS#11?
If you are happy with this fix, I will close this ticket.

Thanks,
Sean :-)

[2021-06-22 07:47] bgermann commented on #4143
No, I am fine.

[2021-06-22 15:02] #4143 closed

[2021-07-01 18:13] elms commented on #3909
@dr-m #4070 has merged to address this. Thanks for this issue. I'm closing, but please reopen if you find any configuration that generate any reports.

[2021-07-01 18:13] #3909 closed

[2021-07-02 07:52] dr-m commented on #3909
@elms Thank you, I updated the WolfSSL submodule of MariaDB/server@0a67b15a9d3348d10f6df0caae6f2f973295a43a to 197b959916ff794c26201d6289574b4ac3e88256, and all tests (`cmake -DWITH_ASAN=ON -DWITH_UBSAN=ON -DWITH_SSL=bundled`) passed with flying colors. I filed #4178 for a minor compilation issue.

[2021-07-02 07:59] guidovranken opened #4179 "SP math: Functions declared but not exported"
When I compile wolfCrypt with SP math using these commands: https://github.com/guidovranken/cryptofuzz/blob/master/docs/wolfcrypt.md#sp-math

The following program compiles but fails to link:

[code]

[code]

This suggests that these functions are declared in the header files but not compiled into the library.

[2021-07-02 14:28] dgarske commented on #4179
@guidovranken , if you build with `WOLFSSL_PUBLIC_ECC_ADD_DBL` defined the `ecc_map` is made public. I think we should also change `ecc_projective_add_point_safe` to `ECC_API`. @JacobBarthelmeh perhaps the release PR put up for the release can add this?

[2021-07-03 17:27] guidovranken opened #4184 "Compilation failure with SP math + WOLFSSL_PUBLIC_ECC_ADD_DBL"
[code]

results in the following compilation errors:

[code]

[2021-07-03 17:41] dgarske commented on #4184
OK to test

[2021-07-09 09:46] M1cha opened #4195 "justification for number of lines per file"
I noticed that wolfssl has exceptionally large C files with ssl.c being over 50k lines.
Are there technical and/or usability reasons for that?

Having to recompile that much code after changing one of those files may not matter with Cs quick compile-times, but I have a hard time understanding how to even comfortably work with such files as a developer - especially when you don't want to use a func

[2021-07-09 16:53] kabuobeid commented on #4195
Hi @M1cha,

There are a couple of reasons we have these high LoC files:
1) It allows more optimization in some older/embedded compilers, which may not optimize as strongly/at all across files as in the same file.
2) It reduces the number of files you have to load while working with wolfSSL across platforms.  This makes IDE integration simpler, for example.

I would suggest an IDE or an editor like

[2021-07-09 17:10] M1cha commented on #4195
`1.` confirms my main theory - I don't know how big that effect is but it's definitely a good reason. Especially since in my experience LTO(which would solve the problem ignoring compiler compatibility) is untrustworthy and produces crashing binaries.

`2.` is a very interesting opinion that I've never heard before. In which way does it make it easier? Because there's less files in the file-list i

[2021-07-12 23:20] kabuobeid commented on #4195
For IDE integration, that is correct, it is far less files to have to add to each IDE.  Every IDE has a unique format so coming up with a script to generate IDE file lists would be a significant effort.

[2021-07-13 05:39] #4195 closed

[2021-07-15 09:19] #4184 closed

[2021-07-24 02:10] guidovranken opened #4239 "Unable to detect RNG health with --enable-intelrand"
The DRBG random number generator can fail if an allocation failure occurs, e.g. here: https://github.com/wolfSSL/wolfssl/blob/3bb2d5525746b6a5d295d57789f2e08a33add740/wolfcrypt/src/random.c#L800

The user can check the RNG state by checking if `rng.status` equals `DRBG_OK`.

In case the RNG is not OK, it needs to be freed using `wc_FreeRng` and then re-initialized using `wc_InitRng`.

However when

[2021-07-24 19:41] Hoibben opened #4240 "HI！How can I use BN_dec2bn like OpenSSL when I use wolfssl?"
My English is not good. How can I solve this problem? Thank you all!

[2021-07-25 01:14] baldhead69 opened #4241 "undefined reference to `LowResTimer'"
Hi,

I am trying to migrate a project from mbedTLS to wolfssl in esp-idf v4.2.1.
I am using esp32.

I follow this link for configuration:
https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/protocols/esp_tls.html

At compile time, the link error message appear:
.../esp-wolfssl/wolfssl/src/internal.c:30779: undefined reference to `LowResTimer'

Some suggestion ?

NOTE:
* https

[2021-07-25 22:12] vaintroub opened #4242 "Heap buffer overflow somewhere in SendTls13CertificateVerify with 8k server private key"
How to reproduce:

- checkout latest wolfssl
- build example programs server and client with ASAN :
[code]

- get server certificate and key from https://github.com/MariaDB/server/blob/10.4/mysql-test/std_data/server8k-cert.pem and
https://github.com/MariaDB/server/blob/10.4/mysql-test/std_data/server8k-key.pem

- start server with these key/certificate and tls1_3
[code]
- try to connect to server

[2021-07-26 12:20] vaintroub opened #4245 "gcc : ‘asm’ operand has impossible constraints, on 32bit intel"
In file included from wolfssl/wolfssl/wolfcrypt/src/tfm.c:51:
wolfssl/wolfssl/wolfcrypt/src/tfm.c: In function ‘fp_sqr_comba’:
wolfssl/wolfcrypt/src/asm.c:709:1: error: ‘asm’ operand has impossible constraints
 __asm__(                                                  \
 ^~~~~~~
wolfssl/wolfssl/wolfcrypt/src/tfm.c:3148:11: note: in expansion of macro ‘SQRADD2’
           SQRADD2(*tmpx++, *tmpy--);

[2021-07-26 12:38] rliebscher opened #4246 "Access to struct member after clearing memory?"
This piece of code seems a little bit weird.

[code]
If the memory of ctx is cleared to zero, then ctx->heap will always read 0.

[2021-07-26 14:28] vuvova opened #4248 "disable weak ssl ciphers by default?"
Since 25 Aug 2016 OpenSSL disables RC4 by default, one needs to enable it explicitly using the enable-weak-ssl-ciphers option to Configure.

Should WolfSSL also do it, define NO_RC4 by default? For example,
[code]

[2021-07-26 16:04] dgarske commented on #4248
Hi @vuvova ,

Our RC4 is disabled by default in ./configure, but you are right if providing build options manually `NO_RC4` must be defined.

[code]

You will also notice all our template user_settings.h have `NO_RC4` defined:
https://github.com/wolfSSL/wolfssl/tree/master/examples/configs

I've made note of this and will discuss internally.

Thanks,
David Garske, wolfSSL

[2021-07-26 16:57] dgarske commented on #4246
Thank you @rliebscher for this report. I've put up a fix here: https://github.com/wolfSSL/wolfssl/pull/4249

Thanks,
David Garske, wolfSSL

[2021-07-26 19:16] baldhead69 commented on #4241
No one ?

[2021-07-26 20:07] kabuobeid commented on #4241
Hi @baldhead69 ,

Thanks for reaching out to us.  I am able to reproduce the issue, it's coming from this repo's user_settings.h: https://github.com/espressif/esp-wolfssl/blob/master/port/user_settings.h
You will need to either undefine `NO_ASN_TIME`, or undefine `OPENSSL_ALL`.  I would suggest undefing both.
`NO_ASN_TIME` will disable validation of certificate times ie. expiration checks.  `OPENS

[2021-07-26 20:12] kabuobeid commented on #4240
Hi @Hoibben ,

Thanks for reaching out to us.
It looks like we don't support `BN_dec2bn` just yet, this functions is still stubbed out unfortunately.
If this is an API you depend on, you can reach out to our sales team at facts@wolfssl.com

Thanks,
Kareem

[2021-07-26 20:12] kabuobeid commented on #4245
Hi @vaintroub ,

Thank you for reaching out to us.  I will work on reproducing your issue here.

Thanks,
Kareem

[2021-07-26 20:13] kabuobeid commented on #4242
Hi @vaintroub ,

Thank you for reaching out to us.  I will work on reproducing your issue here.

Thanks,
Kareem

[2021-07-26 21:25] baldhead69 commented on #4241
hi @kabuobeid

I made your suggestions and:

components/communication/esp-wolfssl/wolfssl/src/internal.c:8185:14: fatal error: task.h: No such file or directory
     #include "task.h"

[2021-07-26 21:39] kabuobeid commented on #4241
Hi @baldhead69 ,

That #include comes from `FREERTOS` being defined, you will need to make sure your FreeRTOS task.h header is in your include path.

Thanks,
Kareem

[2021-07-26 21:42] baldhead69 commented on #4241
@kabuobeid

I put "#include "freertos/task.h" at the place of #include "task.h" and now compiled ok, but it's a workaround.

A definitive solution is needed.

Thank's.

[2021-07-26 21:46] elms commented on #4245
Hi @vaintroub,

Thanks for the report. I have reproduced and believe I know a solution. I was able to compile by adding `-O2`. The exact command I used to test was `cmake .. -DWOLFSSL_USER_SETTINGS=yes -DCMAKE_C_FLAGS="-m32 -I$PWD -O2" && make`.

I'll work on putting a PR up. If you are able, can you confirm that adding `-O2` solves the issue?

[2021-07-26 23:26] elms commented on #4242
@vaintroub I was able to reproduce I'm looking for a root cause and solution. Thanks for the report.

[2021-07-27 08:56] vaintroub commented on #4245
That does not solve it in all circumstances. We use sometimes -fno-omit-frame-pointers, also with optimized build.
I assume you  need to add -fomit-frame-pointers, to free a register . Not only that, on downlevel compilers, such as GCC 4.8.5, that we are also using, you'd need to add -fno-PIC, to free yet another register - we compile everything with -fPIC. However -fno-PIC fortunately works on In

[2021-07-27 16:31] #4246 closed

[2021-07-28 06:09] baldhead69 commented on #4241
Hi,

How to only save necessary files on a esp-idf with wolfssl project ?

The full folder are big.

[2021-07-28 17:26] dgarske commented on #4241
Hi @baldhead69 ,

The issue with `freertos/task.h` vs `task.h` is an include path issue. You can typically add `-I` to your CFLAGS to provide additional include paths. Example: `CFLAGS="-I myfreertosdir`. You do make a good point because typically the FreeRTOS includes do not have "freertos/" in front. Let me know if you cannot resolve with an include path change.

For wolfSSL the only required fi

[2021-07-28 17:35] baldhead69 commented on #4241
Hi @dgarske

is there any command i can run in git that does this ?
Only save the required files with git files too maybe.

Thanks.

[2021-07-28 17:45] dgarske commented on #4241
Hi @baldhead69 ,

Not that I am aware of, but I do have a couple local scripts to clone and cleanup the repo.

Here is one you might find useful. Example usage `./trim-wolf.sh 4.8.1`

[code]

Thanks,
David Garske, wolfSSL

[2021-07-28 17:50] dgarske commented on #4248
Hi @vuvova ,

Thank you for this report. I've put up a PR #4260 to resolve this. Let me know if you see any issues.

Thanks,
David Garske, wolfSSL

[2021-07-28 17:56] baldhead69 commented on #4241
Thanks @dgarske

[2021-07-28 20:47] Hoibben commented on #4240
@kabuobeid
I've solved.
Thanks.

[2021-07-28 20:47] #4240 closed

[2021-07-29 18:06] elms commented on #4242
@vaintroub I'm working on a PR to avoid the overflow and will update when I post it.

The PR for this configuration and use will generate an error. In order to support these keys you will need to add `-DFP_MAX_BITS=16384` to the `DCMAKE_C_FLAGS`.

[2021-07-29 19:01] vaintroub commented on #4242
@elms , to avoid misunderstanding, the commit above are MariaDB commits that reference this bug . We do use FP_MAX_BITS=16384 in user_settings.h, and the last commit successfully workarounds the issue for us, almost everywhere (i.e except clang-cl, for which it is not yet possible to build tfm.c at all)

[2021-07-29 21:42] elms commented on #4245
@vaintroub Do I understand correctly that you have a workaround for now?

The only solution that I know of that would avoid this completely is using `WOLFSSL_NO_ASM`. I'll discuss other options with the team.

Out of curiosity have you considered `WOLFSSL_SP_MATH`?

[2021-07-29 21:43] elms commented on #4242
@vaintroub Thanks for the clarification.

Is there a ticket for clang-cl? I am not able to test at the moment, but using `NO_64BIT` may allow that to compile but may also impact performance.

[2021-08-02 09:28] gojimmypi opened #4272 "Where to find libwolfssl ?"
I'm trying to get the `WolfSSL` examples in this repo to compile. I have a [blog](https://gojimmypi.github.io/ESP32-SSH-server/) with some of the details of problems I've encountered.

I started with trying to [configure TLS 1.3 DH key size](https://github.com/espressif/esp-wolfssl/issues/11) setting for the ESP32. With no success there, I tried to download this repo like this:

[code]

Unfortunat

[2021-08-02 17:23] dgarske commented on #4272
Hi @gojimmypi ,

wolfSSH requires the wolfSSL library. The steps are:

[code]

See instructions here:
https://github.com/wolfSSL/wolfssh#dependencies

Then you can ./configure and build wolfSSH.

Let us know if you have any issues.

Thanks,
David Garske, wolfSSL

[2021-08-02 17:28] dgarske commented on #4272
Hi @gojimmypi ,

Another thing to consider is you will be cross compiling for the ESP32. The steps you mentioned above for wolfSSH and the ones I just posed are for a local build. If your target is an embedded device the steps are quite different.

Good blog about building here:
https://www.wolfssl.com/docs/espressif/

There is a port of ESP32 for wolfSSL here:
https://github.com/espressif/esp-wol

[2021-08-02 22:02] dgarske opened #4278 "SRP with SHA2-384/512 proof failing"
See PR https://github.com/wolfSSL/wolfssl/pull/4270
If `srp_test` uses `SRP_TYPE_SHA384` or `SRP_TYPE_SHA512` the `wc_SrpVerifyPeersProof` fails with `SRP_VERIFY_E`.
Reviewed code for a bit and could not see any reason for this failure. Recommend assigning this issue to Sean P when he returns.

[2021-08-03 08:34] gojimmypi commented on #4272
ah yes, that's quite helpful. Thank you. I had started with the zip download that seems to have different contents. It was a real struggle. I was not aware of the cross-dependency.

I've added your commands noted in [your first comment, above](https://github.com/wolfSSL/wolfssl/issues/4272#issuecomment-891199577) in https://github.com/wolfSSL/wolfssh/pull/356

I'll check the Espressif details soon

[2021-08-04 08:58] gojimmypi opened #4281 "unable to connect to ssh example echoserver with putty"
I'm working with the example [ssh server](https://github.com/wolfSSL/wolfssl/tree/master/examples/echoserver)  and [ssh client](https://github.com/wolfSSL/wolfssl/tree/master/examples/echoclient) in WSL. I am able to run the server app and successfully connect with the client app. The problem occurs when I try to connect with `putty`.

If I try to connect using my local host IP address:
![image](h

[2021-08-05 07:32] JacobBarthelmeh commented on #4281
Hi @gojimmypi , thanks for using wolfSSL + wolfSSH. There's a couple of items would like to check on to make sure the setup is as expected.

1) The default port for wolfSSH is 22222. Please check that if using port 11111 that the echoserver with wolfSSH has been started using ./examples/echoserver/echoserver -p 11111. wolfSSH is going to be using the SSH protocol which would not understand any TLS

[2021-08-05 17:55] gojimmypi commented on #4281
Hi @JacobBarthelmeh and thanks for your reply.

I'm fairly certain the default port for my WolfSSH is `11111` and not `22222`, as noted in [wifi_connect.h](https://github.com/wolfSSL/wolfssl/blob/3e894a980448c1e743a19db04363a78d75b6ec7c/IDE/Espressif/ESP-IDF/examples/wolfssl_server/main/include/wifi_connect.h#L33) - not only as defined in the code, but there's a "connection refused" when attemptin

[2021-08-06 10:15] gojimmypi commented on #4281
Update: When debugging the [SSH Server](https://github.com/wolfSSL/wolfssl/tree/master/examples/server) in Visual Studio, and attempting to connect with the OpenSSH `ssh  127.0.0.1 -p 11111` command (which generated the same error described above), the resulting error is triggered here with an unexpected `rh->type` value:

![image](https://user-images.githubusercontent.com/13059545/128494247-6ad26

[2021-08-06 13:19] gojimmypi commented on #4281
I should add that I am able to get the _WolfSSL client_ to talk to the _WolfSSL server_.

Here's the same server in Visual Studio:
![image](https://user-images.githubusercontent.com/13059545/128515061-f037c4a4-f5f0-4b3f-95ca-a7d7d2342df9.png)

A precompiled exe client from a DOS prompt talking to the above server:
![image](https://user-images.githubusercontent.com/13059545/128515176-c3455a2d-40e4-

[2021-08-06 17:18] gojimmypi opened #4289 "404 example config link"
The `examples/configs/README.md` link on the [examples page](https://github.com/wolfSSL/wolfssl/tree/master/examples#configs) is 404 and I'm not sure where it should go to create a PR.

[2021-08-06 17:28] dgarske commented on #4289
Hi @gojimmypi , thanks for pointing this out. @lealem47 will put up a fix.

[2021-08-06 17:37] lealem47 commented on #4289
Thanks for noticing @gojimmypi.

[2021-08-09 16:43] elms commented on #4242
@vaintroub #4267 addresses this issue. Thanks for the report!

[2021-08-09 16:43] #4242 closed

[2021-08-09 16:48] vaintroub commented on #4242
@elms , thanks. There is no ticket for clang-cl, I will file one. I tried a couple of ideas, and nothing worked so far

[2021-08-10 12:24] JacobBarthelmeh commented on #4281
Hi @gojimmypi,

I suspect that a missmatch in protocols is happening. Where the TLS example server is started up and then a SSH client is trying to be used to connect to the TLS example server. The TLS example will not know anything about SSH protocol packets and report a bad record header. What is the print out of the example when passing the -h flag to it? For the example echoserver bundled with

[2021-08-10 13:21] gojimmypi commented on #4281
Hi @JacobBarthelmeh and thanks for your reply.

Do you have an example of using an ordinary SSH client to talk to the wolfSSL SSH server, and/or perhaps an example of specifying alternate keys for talking to the embedded wolfSSL SSH server with an arbitrary ssh client?

When I run `echoserver -h`, nothing happens; it immediately starts in server mode, listening for packets. If I try to connect to

[2021-08-10 14:03] JacobBarthelmeh commented on #4281
Hi @gojimmypi

For SSH connections please use the wolfSSH example echoserver (https://github.com/wolfSSL/wolfssh/tree/master/examples/echoserver). When compiled and then ran with -h it will have the previously mentioned help display. The echoserver currently being used is the TLS one from the wolfSSL directory which is unable to understand SSH packets, only TLS ones.

Regards,
Jacob

[2021-08-10 14:15] gojimmypi commented on #4281
Hi @JacobBarthelmeh

I'll give that a try.

In the meantime, are you saying that the (non-echo example) [server](https://github.com/wolfSSL/wolfssl/tree/master/examples/server) and [client](https://github.com/wolfSSL/wolfssl/tree/master/examples/client) are not SSH and/or not operational at this time?

Are there any options of using a non-wolfSSL client to talk to any of the examples?

Thanks for

[2021-08-12 03:26] grooverdan commented on #2828
Belated thanks, and feedback:

https://buildbot.mariadb.org/#/builders/309/builds/534/steps/6/logs/stdio was built with wolfssl-4.8.0 and runs through a set of s390x ssl based tests without and issue.

[2021-08-12 13:52] ordex opened #4298 "memory leaks detected by using wolfSSL with OpenVPN"
When using OpenVPN master with wolfSSL master, it is possible to observe the following memleak by simply starting the server and then shutting it down:

[code]

If you allow a client to connect and then shut down the server, you get the following:
[code]

While on the client the result is this (seems identical to the snippet above):
[code]

No memleaks are reported when the same code is compiled/l

[2021-08-12 20:01] #4289 closed

[2021-08-13 16:06] julek-wolfssl commented on #4298
@ordex I have posted a fix for this report here: https://github.com/wolfSSL/wolfssl/pull/4301. Thanks for the report!
This takes care of the `definitely lost` memory. The `still reachable` memory is stuff allocated with `SSL_library_init`. To free this memory, OpenVPN should call `OPENSSL_cleanup` in `tls_free_lib`.

[2021-08-13 20:14] ordex commented on #4298
@julek-wolfssl from the OpenSSL manpage:

       The OPENSSL_cleanup() function deinitialises OpenSSL (both libcrypto and libssl). All resources
       allocated by OpenSSL are freed. Typically there should be no need to call this function directly
       as it is initiated automatically on application exit. This is done via the standard C library
       atexit() function. In the event that the ap

[2021-08-13 22:23] julek-wolfssl commented on #4298
That's actually quite interesting. I was assuming that OpenSSL just doesn't have any global structures to free. I added an atexit call to the PR. Let's see how it does in code review.

[2021-08-15 17:31] nihalpasham opened #4304 "Latest stable release doesn't seem to include a configuration file"
I may be missing something but here's what I get when I attempt to configure an installation.

![image](https://user-images.githubusercontent.com/20253082/129487135-4cd6f888-6a0a-4c8d-9103-6945599c8548.png)

[2021-08-15 17:36] kaleb-himes commented on #4304
@nihalpasham, when pulling releases from github it is necessary to run `./autogen.sh` first to generate the configure script.

We recommend instead downloading the official package from our website here: https://www.wolfssl.com/download/

The wolfssl-4.8.1.zip will always come with a read-to-use configure script.

Warm Regards,

KH

[2021-08-15 17:36] #4304 closed

[2021-08-17 03:57] SparkiDev commented on #4278
Issue comes from the N being too small.
#4307 uses a longer N and tests with all four supported digests.

[2021-08-17 03:57] #4278 closed

[2021-08-18 21:38] stintel commented on #4245
We're also seeing this in OpenWrt after switching the default GCC version from 8 to 10.

[2021-08-20 01:02] SparkiDev commented on #4245
Hi @vaintroub,

Please try pull request https://github.com/wolfSSL/wolfssl/pull/4317

I've made a small change to make the assembly code snippets work.

Thanks.

[2021-08-20 13:49] hobik opened #4319 "Undefined referance to ssl.h ibrary functions"
I am trying to use WolfSSL library on stm32f4xx platform with LWIP/NON-RTOS. When I start the simple server/client example. I generated the source code on stm32cubeMx and its makefile with wolfssl.

Than I try to use the library, but I get below error:
`/home/duygu/Documents/Nucleo_F4_WolfSSL/Src/main.c:96: undefined reference to `wolfSSL_Init'
`
<wolfssl/ssl.h> include in main.c but I have an err

[2021-08-20 16:36] dgarske commented on #4319
Hi @hobik ,

A couple things:
1) Make sure you are not building for wolfCrypt only `WOLFCRYPT_ONLY`. If you are then you would use `wolfCrypt_Init()` and `wolfCrypt_Cleanup` instead.

2) With the Cube pack you should not include or use `wolfssl/options.h`. The options.h is a generated file from ./configure and not used by the pack. Instead you should include `#include <wolfssl/wolfcrypt/settings.h

[2021-08-20 20:41] stintel commented on #4245
This seems to fix the problem for 32bit x86 in OpenWrt, thanks!

[2021-08-20 23:34] vaintroub commented on #4245
Unfortunately, it is a not easy to test for me at the moment, but once it is in, but I'm happy to hear about the progress,
Once it is in main tree, I will try to remove workarounds and see what it says.
But if it works for you with -fno-omit-frame-pointer  -fPIC, and/or with Debug compilation, it should be fine here too.

[2021-08-21 04:13] Kiddinglife commented on #3226
any comments on vcpkg ? now it is still not possible to install wolfssl via vcpkg.

[2021-08-21 04:14] Kiddinglife opened #4323 "Feature Request: Port wolfSSL to vcpkg"

[2021-08-22 22:34] SparkiDev commented on #4245
Hi @vaintroub

The pull request has been merged to master.

Let me know when you have a chance to test it.

Thanks,
Sean :-)

[2021-08-23 05:36] hobik commented on #4319
Hi dgarske,
1. I checked wolfSSL.I-CUBE-wolfSSL_conf.h file than it has;
[code]

Than I added as your suggestion, I used wolfCrypt_Cleanup() instead of wolfCrypt_Init() . Than I build again than I got these errors:

[code]
2. I removed wolfssl/options.h and added #include <wolfssl/wolfcrypt/settings.h> than I defined USE_HAL_DRIVER. But already have same errors.
This is my source code:
 https://ea

[2021-08-23 14:39] JacobBarthelmeh commented on #4281
Hi @gojimmypi

wolfSSL (TLS protocol implementation) comes with an echoserver and echoclient.

wolfSSH (SSH protocol implementation) comes with an echoserver.

All of the examples are operational. But work only for the protocol that they were implemented for. SSH connections will not be able to connect to example TLS servers.

Regards,
Jacob

[2021-08-23 16:41] dgarske commented on #4323
Hi Jake,

Re #3226. The feature request for "Port wolfSSL to vcpkg" is on our list to consider. If you are interested in providing some context to help us justify accelerating this work this please email facts@wolfssl.com with details.

Thanks,
David Garske, wolfSSL

[2021-08-23 18:39] dgarske commented on #4319
Hi @hobik ,

If you define `WOLF_CONF_WOLFCRYPT_ONLY` then the TLS code is disabled. If you need TLS you must set `WOLF_CONF_WOLFCRYPT_ONLY = 0`.

Also now you are including both `user_settings.h` and `wolfSSL.I-CUBE-wolfSSL_conf.h`. You need to use one or the other. To use `user_settings.h` add `-DWOLFSSL_USER_SETTINGS` to your CFLAGS and remove `#include "user_settings.h"` from your main.h.

To

[2021-08-24 03:52] gojimmypi commented on #4281
Hi @JacobBarthelmeh

Yes, of course I know the difference between SSH and TLS - however it appears I neglected to link to the proper example directories that I was referring to in my [message, above](https://github.com/wolfSSL/wolfssl/issues/4281#issuecomment-896067192). I had intended to refer to the [wolfSSL/wolfssh](https://github.com/wolfSSL/wolfssh/tree/master/examples) example [server](https

[2021-08-26 12:47] qontinuum-dev opened #4339 "type parameter in SNI functions"
Hello,

As documentation shows, there is only one possible value for the type parameter in the SNI functions, shouldn't this parameter and the related enumeration be dropped or are there plans to add other values?

[2021-08-26 14:37] qontinuum-dev opened #4340 "wolfSSL_accept/wolfSSL_accept_TLS13() aborts instead of returning error"
# Description

I am trying to build a little server and I use a self-signed certificate for testing purposes. The following is true for both `wolfSSL_accept()` and `wolfSSL_accept_TLS13()`.

I was testing my code sending request and I discovered that using `curl https://localhost:10000` the server aborts with exit code 141 just after printing `BEFORE handshake`. According to valgrind the server re

[2021-08-26 21:52] anhu opened #4343 "We should update TLSX_PopulateSupportedGroups() and `TLSX_KeyShare_GroupRank` to check for enabled OQS algos"
I still think we should update this and `TLSX_KeyShare_GroupRank` to check for enabled algorithms using `OQS_KEM_alg_is_enabled`, otherwise our server/client will advertise groups that they don't actually support.

_Originally posted by @kabuobeid in https://github.com/wolfSSL/wolfssl/pull/4320#r696920812_

[2021-08-26 22:15] anhu opened #4344 "Create new error KEYGEN_FAILURE"
sigh...you caught me red handed.  I wanted to get this in so I wanted to use an existing error code because I didn't know what kind of procedures were involved in creating a new error code.  This seemed sort of okay?  Really what I should do is create a new error code like KEYGEN_FAILURE and then return that.

_Originally posted by @anhu in https://github.com/wolfSSL/wolfssl/pull/4320#discussion_r

[2021-08-27 16:00] #4344 closed, assigned to anhu

[2021-08-28 01:36] Nax10823 commented on #1273
For those that stumbled upon this thread, and don't know how to get `clientHello` for `wolfSSL_SNI_GetFromBuffer` with a connected sockfd, see the following [post](https://www.wolfssl.com/forums/topic1293-server-sni-wolfsslsnigetfrombuffer.html) on the product support forum.

[2021-08-28 11:10] qontinuum-dev commented on #4340
This is only a subset of the whole code so there are not to much stuff. Anyway I do not yet handle server termination since it is a WIP.

[2021-08-28 11:10] #4339 closed

[2021-08-28 11:11] qontinuum-dev commented on #4339
Okay, thanks for precisions

[2021-08-29 21:55] gojimmypi commented on #4281
@JacobBarthelmeh I'm revisiting this today; I've started over on a fresh computer and erg: I think you are right! It seems I may have been mixing up the [wolfssh examples](https://github.com/wolfSSL/wolfssh/tree/master/examples)  `ssh` on port `22222` with the [wolfssl examples](https://github.com/wolfSSL/wolfssl/tree/master/examples) `tls` on port `11111`. (oops, my bad, sorry about that)

Furthe

[2021-08-30 17:01] dgarske commented on #4340
Hi @qontinuum-dev , did that resolve the memory leak? Thanks, David Garske, wolfSSL

[2021-08-31 09:41] qontinuum-dev commented on #4340
I may have been unclear because of this valgrind thing but my issue isn't the memory leak
The issue is that the program aborts during `wolfSSL_accept` if it receives a fatal alert instead of just returning an error code as stated by the documentation.
Is it needed to handle the SIGPIPE to recover from such situation or is it something that shouldn't happen?

[2021-08-31 14:57] dgarske commented on #4340
Hi @qontinuum-dev ,

SIGPIPE is a system signal that occurs when a socket is terminated and you try and write to it.

You should add a line in your code like:

[code]

See this example code we use for testing:
https://github.com/wolfSSL/wolfssl/blob/master/wolfssl/test.h#L1160

Thanks,
David Garske, wolfSSL

[2021-08-31 22:06] JacobBarthelmeh commented on #4281
No problem @gojimmypi, let me know if facing any outstanding issues after the fresh attempt.

[2021-09-01 07:58] qontinuum-dev commented on #4340
Oh okay, I though the accept function was supposed to handle the case when the handshake fails, my bad.
It seems this option doesn't exist so I just used `signal(SIGPIPE, SIG_IGN);`
Thanks for the fix and the time

[2021-09-01 07:58] #4340 closed

[2021-09-03 03:03] #4343 closed

[2021-09-07 07:23] ycaibb opened #4376 "An improper locking bug(e.g., deadlock) on caam.ring.jr_lock"
Hi, developers, thank you for your checking. It seems the lock `caam.ring.jr_lock` is not released correctly when `CAAM_ADR_SYNC(caam.ring.VirtualDesc, desc->idx * sizeof(unsigned int)) != 0` and other similar conditions in the function `caamAddJob`?
https://github.com/wolfSSL/wolfssl/blob/5dff4dd4e0f6fa0e2f74a74efc5d47497c17f65f/wolfcrypt/src/port/caam/caam_driver.c#L541-L591

Best,

[2021-09-07 17:50] JacobBarthelmeh commented on #4376
Hi @ycaibb ,

Thanks for the report. Visually looking at the code sections it does look like there is a couple return spots on unexpected error cases where not unlocked.

Regards,
Jacob

[2021-09-08 12:49] ElLamparto opened #4382 "Big Delay of 'Server Hello'"
Hello,

wolfSSL acts as a server. When the number of client connections is > 30, there is a delay (in the attached example 9s) in sending Server Hello (being a reply to Client Hello). What can cause that? Please see the Wireshark attached.

Thanks...

wolfssl-4.3.0 (Windows)

![capture 31 08 21](https://user-images.githubusercontent.com/9163437/132511275-40020d37-1d28-4881-9fff-4bc94373de5f.png)
[

[2021-09-08 15:24] #4376 closed

[2021-09-08 19:21] dgarske commented on #4382
Hi @ElLamparto ,

Can you tell us more about the server platform running wolfSSL? Is this an embedded target? What is your network stack? How is your RNG setup? Are you using session resumption? You mentioned Windows? Perhaps enabling our logging would show if it is a delay in getting the `client_hello` or time it takes in generating the `server_hello` or if we have sent the server_hello and the n

[2021-09-14 03:00] prince-chrismc opened #4397 "[question] Subject Alternative Names appear in a different order"
:wave: While working on adding support to my library https://github.com/prince-chrismc/jwt-cpp/pull/12 , I had one unit [test fail](https://github.com/prince-chrismc/jwt-cpp/runs/3593512681) with wolfSSL... This causes the PEM to be different so a naive string compare does not work.

This is by no means a bug, but if it's easy to switch it would be great to have even closer compatibility

<details

[2021-09-14 10:27] hauke opened #4399 ""libwolfssl.so: undefined reference to `wc_Sha256Transform'" with --enable-devcrypto=yes"
When we set `--enable-devcrypto=yes` in OpenWrt libraries linking against libwollssl 4.8.1 fail, this worked with wolfssl 4.7.0.  With  `--enable-devcrypto=no` it works fine.

Linking fails like this:
[code]

I see the following difference between the working an the broken wolfssl configuration
[code]

full working configuration:
[code]

This was reported to us by @rmandrad, see https://github.com

[2021-09-14 13:46] embhorn commented on #4399
@SparkiDev Could you please review this report?

[2021-09-14 14:39] embhorn commented on #4397
Hi @prince-chrismc

Thanks for the suggestion. I'll run it past the team. Only drawback I can foresee would be breaking existing functionality.

[2021-09-14 14:48] devbharat opened #4400 "Bug in tls_bench.c?"
On line https://github.com/wolfSSL/wolfssl/blob/ab3bbf11e9d39b52e24bf42bbc6babc16d4a669b/examples/benchmark/tls_bench.c#L415

[code]

I am unable to follow why you check the write_idx of to_client buffer, should it not be to_server?

[2021-09-14 14:50] dgarske commented on #4397
Hi @prince-chrismc , which openssl API('s) are you using to generate this alt name list? I agree with you, we should return the alt names in the same order as openssl to be more compatible.
Thanks, David Garske, wolfSSL

[2021-09-14 15:41] embhorn commented on #4400
Hi @devbharat

You are absolutely correct! Thanks for helping find that issue in the benchmark example! I've put up a PR #4401 . Please feel free to review.

[2021-09-14 21:37] #4400 closed

[2021-09-14 23:22] prince-chrismc commented on #4397
The screen shots are from https://www.sslshopper.com/certificate-decoder.html

- [different certs in pem](https://github.com/prince-chrismc/jwt-cpp/blob/70066bb5fc5cbf896784a26d6ecf6ddedd68f810/tests/HelperTest.cpp)
- [implementation](https://github.com/Thalhammer/jwt-cpp/blob/aaf3c714e343dc381a5dfca921075b27f89d6a2c/include/jwt-cpp/jwt.h#L445-L462)

In short we are using
- d2i_X509
- PEM_write_bi

[2021-09-15 14:12] ElLamparto commented on #4382
Hi @David,

Just to answer some of your questions, I include the TCP socket code. Maybe you will see something that I do not see.
If not, I will enable the wolfSSL logging and send you the traces. Thanks a lot!

`//Server socket creation:

#include "Winsock2.h"

				char szLog [255];
				sprintf		(szLog, "INFO: Creating TCP server socket for local IP [%s] and port [%d]", m_szLocalIpAddress, m_iLoc

[2021-09-15 22:43] embhorn commented on #4397
Hi @prince-chrismc

I've worked up a PR #4406 to address this concern. Could you please check that it works with your test?

[2021-09-16 00:52] prince-chrismc commented on #4397
That definitely helped and the SAN now match but sadly my test still fails. https://github.com/prince-chrismc/jwt-cpp/runs/3616280679?check_suite_focus=true#step:8:66

[openssl.summary.txt](https://github.com/wolfSSL/wolfssl/files/7174114/openssl.summary.txt)
[wolfssl.summary.txt](https://github.com/wolfSSL/wolfssl/files/7174113/wolfssl.summary.txt)

Doing a compare there's a few fields missing an

[2021-09-16 16:54] peterwillcn commented on #4399
any news ?

[2021-09-16 21:36] embhorn commented on #4399
Hi @peterwillcn

We'll post an update after this has been reviewed. For priority customer support, please send a message to support@wolfssl.com

[2021-09-16 23:49] dgarske commented on #4382
Hi @ElLamparto ,

What is your reasoning for setting `SO_LINGER`? Typically that will allow a closed socket to remain open until close() when it sends FIN.

I don't see your calling code for wolfSSL_connect here?

Also if you are using a non-blocking socket your calls to wolfSSL_connect, wolfSSL_read and wolfSSL_write will need some retry logic to handle want read/write. See out non-blocking TLS e

[2021-09-17 08:42] Xeenych opened #4410 "Override certificate DATE check verifyCallback not called"
I'm using WolfSSL client on embedded board.
The board doesn't have RTC, so I need to override certificate DATE check errors
[code]

The debug output is:
[code]

WolfSSL v 4.8.1

verifyCallback is never called!!

[2021-09-17 10:25] Xeenych commented on #4410
Perhaps in ssl.c line 5704 should be changed from
[code]
to
[code]
and certificate can be loaded with
ProcessBuffer(ctx, certBuf, certBufSz, WOLFSSL_FILETYPE_PEM, TRUSTED_PEER_TYPE, NULL, NULL, 0, VERIFY_SKIP_DATE)

[2021-09-17 16:58] dgarske commented on #4410
Hi @Xeenych ,

Curious why are you trying to use the trusted peer type?

Typically we load trusted certificates (root, intermediate or leaf certs) using `wolfSSL_CTX_load_verify_buffer_ex` and provide the `WOLFSSL_LOAD_FLAG_DATE_ERR_OKAY` flag to override a date error. Another option is to 100% disable certificate date checking by using `NO_ASN_TIME`, however using this comes with risks, since no

[2021-09-17 17:32] Xeenych commented on #4410
What is it so bad to use wolfSSL_CTX_trust_peer_buffer()?

I have a private server to connect to with my self-signed certificate. I have no need to check certificate chains, so I use wolfSSL_CTX_trust_peer_buffer();
Am I right?

When using wolfSSL_CTX_load_verify_buffer_ex the connection handshake takes a lot more time.

[2021-09-17 21:52] JacobBarthelmeh commented on #4399
Hi @peterwillcn ,

As an update on this I have reproduced the issue reported using "./configure --enable-devcrypto --enable-opensslextra" when compiling wolfSSL version 4.8.1. A fix is in process, will put a link to the PR when it gets posted.

Regards,
Jacob from wolfSSL.

[2021-09-17 22:13] JacobBarthelmeh commented on #4399
Looks like it was some missed macro guards around a new feature added in to the compatibility layer. We have a pull request that is under review here https://github.com/wolfSSL/wolfssl/pull/4414. Thanks for the report.

[2021-09-20 15:50] ejohnstown commented on #4410
Using a trusted peer certificate skips all checking, including the signature.

Since you are using a self-signed certificate, the signature on the certificate is checked, hence the delay.

Is this an application where you can use a pre-shared key? Both endpoints will have a shared secret. You still get authentication as both ends need to know the shared secret. You can use ECDHE or DHE for key-agr

[2021-09-20 16:09] Xeenych commented on #4410
Yes, we are considering to use PSK, but at first we made some performance tests with certificates.

[2021-09-20 17:06] devbharat opened #4417 "Alert handling"
In internal.c  in function

[code]

in the following lines

[code]

I do not understand why the number of bytes in the internal buffer are expected to be the same as the fixed value of ALERT_SIZE. When pulling in data into the internal buffer from an IOcallback, you'd pull in an arbitrary number of bytes upto a specified number of max value, so dataSz here is not fixed, can be anything actually de

[2021-09-20 18:34] dgarske commented on #4417
Hi @devbharat ,

Note: this code was changed in PR https://github.com/wolfSSL/wolfssl/pull/4377 from `if (*inOutIdx + ALERT_SIZE > totalSz)
` -> `dataSz != ALERT_SIZE`.

@SparkiDev , do you have any thoughts on this check?

Thanks,
David Garske, wolfSSL

[2021-09-20 22:47] SparkiDev commented on #4417
Hi @devbharat,

While it may appear that totalSz is going to be any length, the caller only loads the data for that TLS record.
The change was made for security reasons - to ensure only 2 byte alerts were being seen.
Code was added to handle encrypted alerts tool.

[2021-09-21 06:49] devbharat commented on #4417
Thanks for the reply. How/where do you ensure that the caller is loading data only for one record at a time?

i am working with DTLS and memory buffers (with serial device forming the transport layer), and we push all incoming data on the serial device into the memory buffer and let DTLS iocallback pullout as many bytes as it wants from the memory buffer. For DTLS it seems to want to pullout dtls_

[2021-09-21 22:31] SparkiDev commented on #4417
Hi @devbharat

With reference to master, in the function ProcessReplyEx, looking at the code in the 'getData' case of the switch, you can see two calls to GetInputData. These calls are passed ssl->curSize and will only read as much as that.

ssl->curSize is set from the call to GetRecordHeader() where it is passed as an output parameter. That is, GetRecordHeader() gets the size of the record data

[2021-09-21 23:38] embhorn commented on #4397
The remaining discrepancies appear to be extensions that are either not enabled or not currently supported by wolfSSL:

[code]

Is wolfSSL configured with `enable-crl`?

I can open a feature request for the remaining extensions is you'd like?

[2021-09-22 00:04] prince-chrismc commented on #4397
My setup scripts call `--enable-all`, I assume that turns every feature?

No. Thats not need, it only impacts test code. Otherwise the functionality is intact

[2021-09-22 00:12] embhorn commented on #4397
Yes, `--enable-all` does turn on support for CRL and TLS extensions.

Understood, I'll go ahead and close this ticket out. Thanks again for bringing this to our attention.

[2021-09-22 00:12] #4397 closed

[2021-09-22 08:48] devbharat commented on #4417
Hey @SparkiDev

In the call to `GetInputData()` for DTLS the size is overwritten to `dtls_expected_rx` as shown below

[code]

[2021-09-22 23:31] SparkiDev commented on #4417
Hi @devbharat

Yes, the GetInputData function can read more than the current record with DTLS.
I'm not familiar with the DTLS differences and there is an issue here.

I've put up a pull request that fixes this: https://github.com/wolfSSL/wolfssl/pull/4421

Let us know if you are happy with the fix!

Thanks

[2021-09-23 08:04] devbharat commented on #4417
Could someone explain why it is 'allowed' to buffer up more bytes than just the current record in the internal buffer for DTLS but not for TLS? I am afraid the PR just fixes this particular check for alert size, but there might be other consequences of buffering up more bytes than the current record.

[2021-09-23 12:26] peterwillcn commented on #4399
Thank everybody

[2021-09-23 22:26] ejohnstown commented on #4417
DTLS allows one to put as many DTLS records as you want into a datagram. You can use the fragmentation mechanism to fill the datagram. This is used during the handshake by some DTLS implementations to send as few datagrams as possible. When you call recvfrom(), you are going to get the entire datagram, which will have at least one DTLS record in it.

From RFC section 4.1.1:
[code]

wolfSSL will ty

[2021-09-24 11:06] rmarquis opened #4426 "Enforced cmake option strings breaks downstream projects scripts"
Enforcing cmake option strings as done in https://github.com/wolfSSL/wolfssl/commit/cd9f400cf33d17af84472733f9f4f83c7da098f5 has the naughty side effect of breaking CMake scripts of user projects.

Not only the `ON/OFF` syntax doesn't work anymore, but the capitalized `YES/NO` doesn't work either. We have to use the special `yes/no` syntax *just* for the WolfSSL part.

While I understand the desir

[2021-09-24 13:47] embhorn commented on #4426
Hi @rmarquis

Thanks for your feedback. We will review and post an update.

[2021-09-24 14:25] #4399 closed

[2021-09-24 15:59] haydenroche5 commented on #4426
Hi @rmarquis . I agree with your reasoning. Thanks for raising this issue. I'll put up a PR soon to support all the normal CMake true/false literals in our CMake build options interface. Internally, we will reduce all those values that evaluate to `true` to `yes`. Same goes for `false` and `no`. This should prevent the breakage you're describing (e.g. `ON/OFF` and `YES/NO` will work as expected).

[2021-09-24 16:01] rmarquis commented on #4426
Thank you for looking at this issue!

I was quite surprise to see our CI break when I updated to the latest WolfSSL release.

[2021-09-24 16:06] haydenroche5 commented on #4426
@rmarquis no problem. Out of curiosity, what is your project? I'm just interested to see how you're using wolfSSL.

[2021-09-24 16:25] rmarquis commented on #4426
See https://www.etlegacy.com/, some oldie FPS that was quite popular back in the day.

It's using SSL for in-game pack download, either OpenSSL or WolfSSL. I'm not the one that did the implementation, so I might not know about details - I'm just the janitor that update the game libs every few months, and get desperate when everything inevitably breaks :)

I first found the issue through our automa

[2021-09-24 16:29] haydenroche5 commented on #4426
Wow, that takes me back. I used to play that game waaaay back in the day. It's very cool that the project's using wolfSSL.

I'll post a link to the PR here when it's ready. Thanks for your patience.

[2021-09-24 16:33] rmarquis commented on #4426
There's still a sizeable active community of players, if you ever feel nostalgic :)

[2021-09-24 22:10] haydenroche5 commented on #4426
Hi @rmarquis. I've added another commit to this existing PR that should fix your issue: https://github.com/wolfSSL/wolfssl/pull/4422 Let me know if it works for you. Thanks!

[2021-09-25 08:53] rmarquis commented on #4426
That should work, yes! We did necessary change as our next release will ship soon with WolfSSL 4.8.1, but I'm glad to see this fixed for future WolfSSL version.
Thank you again for your time!

[2021-09-25 08:56] #4426 closed

[2021-09-30 17:15] #4281 closed

[2021-10-01 14:11] jaapcrezee opened #4443 "WolfSSL seems to be unable to use Let's encrypt certificates after DST Root CA X3 Expiration"
[chain.txt](https://github.com/wolfSSL/wolfssl/files/7267766/chain.txt)

Using wolfssl 66a6153456b04d9bccd079e3b6f69a4f86ca4a58 (master as of writing) using:
`./autogen.sh && ./configure && make`

Now the examples/client fails which is unexpected (for me):

[code]

Chain contains:

[code]

[code]

Letsencrypt.org has cert:
[code]

[2021-10-01 14:25] jaapcrezee commented on #4443
Curl is doing fine on the same chain.txt

[code]

[2021-10-03 06:42] dhewg commented on #4443
The stable versions are affected too and a potentially fix should be backported:
https://forum.openwrt.org/t/21-02-0-cannot-connect-to-any-letsencrypt-site-using-ssl-letsencrypt-global-root-cert-expiration/107925

It looks like the master branch is not affected, but this epic merge mess made me give up finding the commit fixing the issue...

[2021-10-04 19:05] kabuobeid commented on #4443
Hi @jaapcrezee / @dhewg ,

I am able to reproduce this behavior here.  letsencrypt.org is cross-signing its CA (ISRG Root X1) with DST Root CA X3 using subject key identifier `C4:A7:B1:A4:7B:2C:71:FA:DB:E1:4B:90:75:FF:C4:15:60:85:89:10`.  There is no certificate with this SKI which is not expired, as you can see here: https://crt.sh/?ski=c4a7b1a47b2c71fadbe14b9075ffc41560858910  You can disable ou

[2021-10-04 20:11] jaapcrezee commented on #4443
Hello @kabuobeid ,
Thank you for the explainer. I think the problem is - in my case (for other domains than letsencrypt.org) - the letsencrypt acme client I am using is old and thus giving me the old/previous chain with the cross-signed CA cert.
But as I am (mostly) only using wolfSSL in embedded devices I will now setup to my own private CA-PKI to prevent problems like this in the future.

Jaap

[2021-10-05 00:16] pprindeville opened #4450 "AES-GCM should not require authentication tags"
Looking at `wc_AesGcmDecrypt()` and `wc_AesGcmEncrypt()`, a valid scenario should be `(authTag == NULL && authTagSz == 0)` but this isn't handled.

My reading of the [AES-GCM specification ](https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-38d.pdf) section 7.1 implies that `A` might be the zero-length bit string:

and Figure 3.  In this case, "possibly none" is also tacitly "p

[2021-10-05 09:33] dhewg commented on #4443
Thanks @jaapcrezee for the analysis.

But I think this is intentional by let's encrypt:
https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

If I understood you correctly, the cert itself is from a valid CA, it's just the additional cross-signing that makes wolfssl fail its checks.

OpenWrt uses curl with wolfssl by default, and the current situation breaks tons of websites.
Dis

[2021-10-05 09:36] dhewg commented on #4443
not literally but something a la ---enable-accepting-valid-ca-event-with-expired-cross-signing ;)

[2021-10-05 17:58] kabuobeid commented on #4443
The issue is it's being cross-signed by an outdated X3 certificate, found here: https://letsencrypt.org/certs/trustid-x3-root.pem.txt
The communication from Let's Encrypt claims there is an updated X3 certificate for Android devices but I haven't been able to locate it.  The linked IdenTrust certificate found here does not validate the chain: https://www.identrust.com/node/1330
Let's Encrypt needs

[2021-10-05 18:43] pprindeville commented on #4450
See PR #4453.

[2021-10-05 20:19] pgporada commented on #4443
I think this is the document you want https://letsencrypt.org/2020/12/21/extending-android-compatibility.html

[2021-10-05 20:47] osirisinferi commented on #4443
That is by design.

Note that many (all major) root certificate stores have `ISRG Root X1` included. So it's very possible to build a valid chain from R3 to the ISRG Root X1 in the trust stores.

[2021-10-05 22:13] kabuobeid commented on #4443
I've researched this some more and Let's Encrypt should work if you load `ISRG Root X1` and define `WOLFSSL_ALT_CERT_CHAINS`.  You also still need SNI enabled as mentioned above.  So you would build and run as follows:
`CFLAGS="-DWOLFSSL_ALT_CERT_CHAINS" ./configure --enable-sni`
`./examples/client/client -h letsencrypt.org -p 443 -S letsencrypt.org -A /path/to/X1.pem`
`WOLFSSL_ALT_CERT_CHAINS` al

[2021-10-05 22:21] dhewg commented on #4443
Oh, thanks, I'll look into it.

Meanwhile I cooked up this patch:
[dstrootcax3.patch.txt](https://github.com/wolfSSL/wolfssl/files/7289561/dstrootcax3.patch.txt)

Seems to be doing what I think it's doing, works for me (tm) so far...

[2021-10-06 06:56] jaapcrezee commented on #4443
I can confirm `WOLFSSL_ALT_CERT_CHAINS` works (tested it before), but does it really not "degrade" any other security aspects?

[2021-10-06 07:14] dhewg commented on #4443
Same here, WOLFSSL_ALT_CERT_CHAINS fixes curl without any additional patches or options.
But can OpenWrt just use that option? It's unclear what implication this might have

[2021-10-06 07:17] dhewg commented on #4443
FYI, I raised this issue on the LE forums too
https://community.letsencrypt.org/t/wolfssl-cert-issue/162212

I don't know what the way forward is, but I believe we need a solution soon (which may be just WOLFSSL_ALT_CERT_CHAINS).
We've only seen the first few days of LE cert renewals. For WolfSSL only distros this could feel like "half the internet is broken" in a few weeks if this stays as-is.

[2021-10-06 15:15] dhewg commented on #4443
Thanks David!

That sounds like a really useful explanation to add to the documentation ;)
Or well, maybe it's written down somewhere, but the only thing I could find is `Alternate certificate chain support WOLFSSL_ALT_CERT_CHAINS. Enables checking cert against multiple CA's.` which doesn't help much.

So that indeed is the flag that OpenWrt should be using, thanks everyone!

[2021-10-06 16:51] kabuobeid commented on #4443
We do document `WOLFSSL_ALT_CERT_CHAINS` in `src/internal.c`, see below:
[code]

[2021-10-06 17:29] elms commented on #4443
Related PR to make this option more accessible https://github.com/wolfSSL/wolfssl/pull/4455

[2021-10-07 21:33] elms commented on #4450
@pprindeville I'm trying to understand the use case little better. I've recreated what I think you are suggesting (with a terrible key and iv for example only)

[code]

output:
[code]

The equivalent calls using wolfSSL

[code]

with output (identical to pyca output)

[code]

In the case of wolfSSL the `authTag` is placed in a separate buffer, but pyca appends the tag to the output ([link](https:/

[2021-10-08 16:49] #4443 closed

[2021-10-11 06:55] #4241 closed

[2021-10-18 14:35] h1994st opened #4479 "Big number modular exponentiation error"
Hi,

I try to calculate modular exponentiation, using the big number API in wolfSSL:

[code]

However, `ret` is always `WOLFSSL_FAILURE`, if `p` is not odd. The error is triggered by the following code snippet:

https://github.com/wolfSSL/wolfssl/blob/60adf22ce1e74cbfc5a65f9b0c07d294e8b9d04d/wolfcrypt/src/tfm.c#L3308-L3310

Is `BN_mod_exp` designed not to handle even exponents? I am wondering if t

[2021-10-18 18:27] julek-wolfssl commented on #4479
I can investigate tomorrow.

[2021-10-18 23:46] SparkiDev commented on #4479
@h1994s BN_mod_exp(r, bn_two, p, m, NULL) => r = 2^p mod m

The operation is being done in Montgomery form which requires an odd modulus.
We could add the option of not doing it Montgomery form if the modulus is even.

But, the question is why do you have an even modulus (m)?

[2021-10-19 01:28] h1994st commented on #4479
@SparkiDev Thanks! I will try those configurations at first.

[2021-10-20 17:48] BrianAker opened #4489 "CMakeLists.txt is broken in the same manner as configure.ac, interface configure_file() needs to be used not file()"
Cmake is like autoconf in that can't track dependencies done using low level IO commands.  In order to have a repeatable build you need to use configure_file().
All of:
[code]
Needs to be fixed, otherwise you have same build problems in cmake as you have today in autoconf.

[2021-10-20 18:17] h1994st commented on #4479
Hi @SparkiDev , I tried the latest master branch, and my code works now. Thanks very much for your help!

[2021-10-20 18:17] #4479 closed

[2021-10-23 15:18] taviso opened #4498 "SECURITY: DecodeKeyUsage can read past the end of input buffer"
I think there's a bug in `DecodeKeyUsage`, here is the code:

[code]

If you imagine that the input is `03 01 00` (so `sz` is 3) then  `CheckBitString()` will succeed, `length` will be zero and `idx` will be 3. Then the `cert->extKeyUsage = (word16)(input[idx]);` will read past the end of `input` by 1 byte. I guess this could be a security issue, maybe you could infer some private data from `keyUs

[2021-10-26 05:44] #4498 closed, assigned to SparkiDev

[2021-10-26 08:56] monokles opened #4506 "Zephyr OS examples fail to compile"
After having set up the zephyr project (succesfully compiling samples for multiple boards), I've been trying to get WolfSSL working with Zephyr.

When following the exact instructions the other day (as in `zephyr/README.md`), everything initially compiled fine. I then set out to try and get TLS1.3 working, but after running a `west update` this morning, even the WolfSSL samples stopped compiling.

[2021-10-29 07:32] Bjoe opened #4519 "libtool cannot cross compile for Android"
Hi

### In short:
I try to compile WolfSSL 4.8.1 for android and use the android-ndk r19c toolchain.
I read the documentation https://www.wolfssl.com/docs/wolfssl-manual/ch2/ how to cross compile wolfssl.
I got a problem when they try to link, it uses the wrong linker. I figured out that libtool somehow striped out one required parameter.

### In details:
If I execute libtool with following parame

[2021-10-31 22:06] SparkiDev commented on #4506
Hi @monokles

The changes have been merged.
Please let us know if you have issue compiling still.

[2021-10-31 23:16] Bjoe commented on #4519
@embhorn Yep, true. Sorry I forgot.

Here my full configure command execution:
[code]

Here the Configuration summary:
[code]

[2021-11-02 06:54] MalikAlmazrua opened #4526 "sss_se05x_key_store_generate_key() support for 521 curve"
in se050_ecc_create_key() function , the function that generates the keys and its parameters are shown below:

status = sss_key_store_generate_key(&host_keystore, &keyPair, keySize*8, NULL);

the keybitlength parameter is defined to be 8 times the private key size. This is usually correct but not the case for the 521 curve.

The curve's private key size is 66. 8 times 66 is 528 NOT 521. Therefore,

[2021-11-02 13:31] MalikAlmazrua opened #4528 "se050 and GCM"
https://github.com/wolfSSL/wolfssl/blob/2745f394e5234fbf8d237b3796398029b16f15de/wolfssl/wolfcrypt/aes.h#L178

NXP se050 does not support GCM. why do I have to define HAVE_AESGCM in order to use AES CBC or CTR in the library?

[2021-11-02 15:16] dgarske commented on #4528
Hi @MalikAlmazrua,

You can build with AES CBC and CTR only (no GCM). All modes can be built and used independently. What build error are you seeing and what build options are you using? Perhaps the issue is with TLS v1.3 and it only supporting AEAD ciphers like AES-GCM and ChaCha20/Poly1305?

Thanks,
David Garske, wolfSSL

[2021-11-02 15:41] dgarske commented on #4526
Hi @MalikAlmazrua ,

Thank you for the report. This is a very minor issue and I will push a fix.

Related to ZD 13147 and PR https://github.com/wolfSSL/wolfssl/pull/4523

Thanks,
David Garske, wolfSSL

[2021-11-02 21:47] embhorn commented on #4519
Hi @Bjoe

Cross compilation with the autotools is often difficult. We do have an example project for building in Android Studio
https://github.com/wolfSSL/wolfssl/tree/master/IDE/Android

If you still want to try the configure path, try setting the target, like:
`./configure --target=arm-oe-linux-gnueabi --host=arm-oe-linux-gnueabi --build=x86_64`

[2021-11-03 22:05] dgarske commented on #4519
Hi @Bjoe ,

I am encountering a similar issue cross-compiling wolfSSL for Android using configure.

This worked for me:

[code]

If you want a static library add `--disable-shared --enable-static`. You might also consider `--disable-examples` if getting any errors in the test applications.

Thanks,
David Garske, wolfSSL

[2021-11-04 03:31] PierrePeng opened #4537 "Is it compatible with aws-iot-device-sdk-embedded-C?"
Hi,
1. I wanna whether it is compatible with [aws-iot-device-sdk-embedded-C](https://github.com/aws/aws-iot-device-sdk-embedded-C)?
2. Can I use wolfSSL instead of OpenSSL which is required from this [line](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/a54643fe39bc90a964c96716bc8055097d099ab5/platform/CMakeLists.txt#L5)?
3. If Yes, what steps should I do to replace OpenSSL in aws-iot-d

[2021-11-04 06:17] #4528 closed

[2021-11-04 21:42] kareem-wolfssl commented on #4537
Hi PierrePeng,

1. We do not currently support this, but it doesn't appear that it would be difficult to add support at a glance.
2. Yes, I would suggest using our OpenSSL compatibility layer if you intend to use us as a drop-in replacement for OpenSSL.  Either define `OPENSSL_EXTRA` for most of our compatibility layer, or `OPENSSL_ALL` for everything, if you aren't concerned about library size.
3

[2021-11-04 21:45] dgarske commented on #4537
Hi PierrePeng,

If you are not comfortable sharing this information publicly feel free to directly email support@wolfssl.com and reference this GitHub issue.

Thanks,
David Garske, wolfSSL

[2021-11-05 22:38] Bjoe commented on #4519
I already seen this. I also see that in WolfSSL is a CMakeLists.txt. But in both build solution, how can I enable/disable the "feature" that I need?

Sorry, still same issue.

[2021-11-05 22:50] Bjoe commented on #4519
Ah! This `${TOOLCHAIN_BIN_PATH}aarch64-linux-android21-clang`  is a shell script and set the `--target=aarch64-linux-android21` parameter. For libtool is not possible to remove this parameter, nice :-)

Thanks for the hint, @dgarske !

Maybe you should add this also as hint on https://www.wolfssl.com/docs/wolfssl-manual/ch2/ -> `2.6.1 Example cross compile configure options for toolchain builds`

[2021-11-05 22:50] #4519 closed

[2021-11-07 17:55] pg83 opened #4546 "Can not build python 3.8.5 with wolfssl"
From release notes for wolfssl==5.0.0:

Ports
...
Add support for Python 3.8.5

[code]

[2021-11-08 13:52] janoschreinking opened #4547 "Build Error"
Version: wolfSSL Release 5.0.0 (Nov 01, 2021)

[wolfssl/examples/configs/user_settings_min_ecc.h
](https://github.com/wolfSSL/wolfssl/blob/master/examples/configs/user_settings_min_ecc.h) contains a cli command:

[code]

which yields in this error:

[code]

[2021-11-08 18:52] kareem-wolfssl commented on #4547
Hi @janoschreinking ,

Thanks for the report, I am able to reproduce it on both 5.0 and master.
For the doAsync warning, please try pulling this PR: https://github.com/wolfSSL/wolfssl/pull/4550  You will also need this PR to fix a compilation issue in test.c: https://github.com/wolfSSL/wolfssl/pull/4535
@SparkiDev please take a look at these SP math warnings.  I can confirm both of these functions

[2021-11-08 19:33] kareem-wolfssl commented on #4546
Hi @pg83 ,

How are you building Python + wolfSSL?  You will need to patch Python and use the right config for wolfSSL, you can find full instructions here: https://github.com/JacobBarthelmeh/osp/tree/Python/Python
Let me know if you still see issues with those instructions.

Thanks,
Kareem

[2021-11-09 03:14] SparkiDev commented on #4547
Hi @janoschreinking

A pull request has been put up to fix this: https://github.com/wolfSSL/wolfssl/pull/4553
Let us know if you have problems with this.

Thanks.
Sean

[2021-11-09 19:43] pg83 commented on #4546
Oh, thank you, this is just I need :)

[2021-11-09 19:43] #4546 closed

[2021-11-09 23:49] argold97 opened #4555 "Server can force use of signature algorithm not matching ciphersuite"
In src/internal.c `DoServerKeyExchange()` (lines 24221-24234), the client decodes the signature algorithm and hash specified by the ServerKeyExchange message. However, when calling `DecodeSigAlg()` the value of `args->sigAlgo` is overwritten. `args->sigAlgo` is later used to determine which signature verification algorithm to actually perform. This overwriting occurs without checking that the deco

[2021-11-10 14:29] embhorn commented on #4555
Hi @argold97,

Thanks for sharing this. We are reviewing internally.

[2021-11-10 15:38] kaleb-himes commented on #4555
Hi @argold97 can you please send an email to support [at] wolfssl [dot] com referencing github issue 4555 either in the subject or body of the email so we can coordinate a fix with you in a non-public venue?

[2021-11-10 15:38] #4555 closed

[2021-11-15 05:58] muvarov opened #4568 "gcc compilation error: fallthrough keyword"
Bunch of projects using wolfssl issue compilation error like that:

|/usr/include/optee/export-user_ta/include/compiler.h:259:21: error: expected ')' before 'attribute'
| 259 | #define fallthrough attribute((fallthrough))
| | ^~~~~~~~~~~~~
| ./lib/wolf/wolf_symlink/wolfssl/wolfcrypt/types.h:184:50: note: in expansion of macro 'fallthrough'
| 184 | #define FALL_THROUGH attribute ((fallthrough));
|

[2021-11-15 18:13] kareem-wolfssl commented on #4568
Hi @muvarov ,

What compiler are you using?  `fallthrough` is the correct keyword for GCC: https://gcc.gnu.org/onlinedocs/gcc/Statement-Attributes.html

Thanks,
Kareem

[2021-11-15 22:38] SparkiDev commented on #3437
Hi @neufeng

There has been changes to this code recently and I was wondering if this is still an issue for you?

Thanks

[2021-11-15 23:24] kareem-wolfssl commented on #4568
I misunderstood the issue @muvarov .  You have a conflicting definition of `fallthrough`.  I will work on getting this corrected.

[2021-11-17 12:51] eliasing opened #4576 "WOLFSSL_CRYPTOCELL defined build error"
If WOLFSSL_CRYPTOCELL is defined ecc_mulmod still uses ecc_projective_add_point_safe and ecc_projective_dbl_point_safe which leads to build error!
Reverting [this](https://github.com/wolfSSL/wolfssl/commit/be6bf5687b9acb4d27c49fb872d96242d490c462) commit does not help either since ECC benchmark test fails with error = -10085.
#4466

[2021-11-17 21:00] kareem-wolfssl commented on #4568
Hi @muvarov ,

Please try rebuilding with https://github.com/wolfSSL/wolfssl/pull/4580 and let me know if it helps.

Thanks,
Kareem

[2021-11-19 07:23] muvarov commented on #4568
@kareem-wolfssl  I spend some time understaning this changes. And it's looks like this issue was in 74ebf510a3d73e98767eac26082eabdc84e19d31 and it's fixed in 74ebf510a3d73e98767eac26082eabdc84e19d31.

I sent PR to update submodule:
https://github.com/microsoft/MSRSec/pull/35

So I think if you can drop this change for now if you can not reproduce it locally.

[2021-11-19 23:08] rockdaboot opened #4591 "Compile error for ALPN functions in 5.0.0 (undeclared WOLFSSL_ALPN_CONTINUE_ON_MISMATCH)"
A FreeBSD user reports a compile error for GNU Wget2: https://gitlab.com/gnuwget/wget2/-/issues/571
[code]
as well as warnings about missing ALPN function declarations.

The code works for the previous versions (< 5.0.0) as in
[code]

[2021-11-20 15:21] mandree opened #4592 "5.0.0 OpenSSL compatibility between SSL_CTX_set_verify() callback with X509_VERIFY_PARAM_set1_host() - leaves excess DOMAIN_NAME_MISMATCH in X509_STORE_CTX."
Greetings,

I am trying to make fetchmail compile with wolfSSL's OpenSSL compatibility layer, and it mostly works, however there are run-time issues in the verify call-back (the fetchmail code is OpenSSL centric and uses OpenSSL-style verify call backs) where wolfSSL deviates from OpenSSL behavior in the X509 context passed to the verify callback.

Error presented by my code (snippet below):

`fet

[2021-11-20 15:39] mandree opened #4593 "5.0.0 OpenSSL compatibility issue: blocking SSL_peek() returns SSL_ERROR_WANT_READ."
I found a difference between OpenSSL proper (1.0.2, 1.1.1, 3.0) and wolfSSL 5.0.0.
My code uses a default setting (blocking I/O) and connects, and then calls `SSL_peek()` right away. This works in OpenSSL without a hitch, but wolfSSL returns `0` and `SSL_get_error()` returns `SSL_ERROR_WANT_READ`.

This incompatibility makes wolfSSL unsuitable as OpenSSL drop-in replacement because it's not bug co

[2021-11-20 15:54] mandree opened #4594 "5.0.0 OpenSSL compatibility: SSL_R_NULL_SSL_METHOD_PASSED missing"
This is an SSL reason code returned from `ERR_GET_REASON(ERR_peek_last_error())`.

[2021-11-22 08:02] CindyZhouYH opened #4596 "Incorrect secp256r1 ecc point multiplication result"
I was doing elliptic curve point multiplication using ECC_SECP256R1. And I found wolfcrypt's result different from results of relic and botan.
[code]
wolfcrypt's result:
[code]
relic's result:
[code]
botan's result:
[code]

It seems that the output is correct when m's length is short. Once m's length is longer than a certain value, the result would be incorrect.

[2021-11-22 17:39] kareem-wolfssl commented on #4596
Hi @CindyZhouYH ,

Which math implementation are you using?  Can you post your build settings?

Thanks,
Kareem

[2021-11-22 18:41] kareem-wolfssl commented on #4591
Hi @rockdaboot ,

Using FreeBSD's wolfSSL config (found [here](https://cgit.freebsd.org/ports/tree/security/wolfssl/Makefile?id=71c26f55a13dc607c421cf1de326d079e5ee7b0d)), I see ALPN is not enabled, so `HAVE_ALPN` is not defined.  However, ssl_wolfssl.c in wget2 is not guarding ALPN functions/identifiers with `#ifdef HAVE_ALPN`, so this leads to a compilation error rather than disabling ALPN.
I wo

[2021-11-22 20:28] e2iplayer opened #4598 "Compilation error for CPU=mips32 and --enable-sp-math-all=huge"
Hello,

there is compilation errors when want to compile WolfSSL for  CPU=mips32.

**How to reproduce:**
[code]

compilation errors:
[code]

Could you please check this?

[2021-11-22 20:29] AMDmi3 commented on #4591
alpn is disabled by default in wolfssl:
[code]
that's most likely why it's also disabled in FreeBSD port. We can probably enable it in the port (does it have any drawbacks?), but it won't solve the problem with other distros which prefer to respect upstream defaults. I see the solutions as @kareem-wolfssl suggested, and additionally enabling it in wolfssl by default (again, depending on whether th

[2021-11-22 22:14] kareem-wolfssl commented on #4598
Confirmed.  Do you know if your target has these HI/LO registers?
@SparkiDev please take a look.  Not clear if we support little endian MIPS (mipsel).

[2021-11-22 22:19] kareem-wolfssl commented on #4592
Thanks for the bug reports, I am reviewing them with the team.

[2021-11-22 22:26] e2iplayer commented on #4598
I think all MIPS have these registers.
This could be problem with assembler
maybe
[code]
should be used.
Instead of
[code]
but I do not know asm, sorry.

[2021-11-23 05:26] CindyZhouYH commented on #4596
Thank you for your reply.
The testfile I use is as follows:
[code]
I cloned the source code and built it into a static library:
[code]
and compiled the testfile by:
[code]

After testing, wolfCrypt's result is consistent with botan and relic when the length of `strb` is less than 79.

[2021-11-23 12:53] julek-wolfssl commented on #4592
Hi @mandree,

I'm trying to reproduce your issue and I think that I've got quite close. I modified our `examples/client/client.c` client in the following way:

[code]

This installs a verify callback and sets the domain parameter to check for. Running this example against your webmail server I get the following output:

[code]

This is expected as only the leaf certificate should pass the domain c

[2021-11-23 14:28] julek-wolfssl commented on #4593
Hi @mandree, please run your tests against this branch: https://github.com/wolfSSL/wolfssl/pull/4599 with `WOLFSSL_FORCE_AUTO_RETRY` defined at compile time. Either by adding it to `CFLAGS` with `-DWOLFSSL_FORCE_AUTO_RETRY` or by defining it in your `user_settings.h` header.

[2021-11-23 22:49] kareem-wolfssl commented on #4450
Closing as per feedback in https://github.com/wolfSSL/wolfssl/pull/4453.  Feel free to re-open if you disagree.

[2021-11-23 22:49] #4450 closed

[2021-11-23 22:51] #4537 closed

[2021-11-23 22:51] #4547 closed

[2021-11-23 22:51] #4568 closed

[2021-11-24 10:49] eliasing opened #4601 "WOLFSSL_CRYPTOCELL defined build error 2"
If WOLFSSL_CRYPTOCELL is defined  **wc_RsaSSL_Verify** shall be used, but **wc_RsaSSL_VerifyInline** is used in [RsaSign and VerifyRsaSign](https://raw.githubusercontent.com/wolfSSL/wolfssl/master/src/internal.c) and [ConfirmSignature ](https://github.com/wolfSSL/wolfssl/blob/master/wolfcrypt/src/asn.c#L13446) which is not defined.

[2021-11-25 02:07] tmael commented on #4601
Hi @eliasing, I've confirmed that there's a build error due to some missing `!defined(WOLFSSL_CRYPTOCELL` guards in ecc.c and test.c. I will put up a PR when I get a moment. It appears that you are having RSA-related issues. Can you please share the build error?

[2021-11-25 02:11] tmael commented on #4576
Hi @eliasing, confirmed the ECC build error due to some missing `!defined(WOLFSSL_CRYPTOCELL` guards. I'll submit a PR with a fix after the thanksgiving break.

[2021-11-25 15:47] kosmas-valianos opened #4605 "IO_URING and wolfSSL"
Follow-up of [Z13175](https://wolfssl.zendesk.com/hc/en-us/requests/13175)

We are trying to migrate our applications from the normal Linux `IO` to the mighty `IO_URING`. Unfortunately despite the wolfSSL's ability to set callbacks when reading/writing it's at the moment impossible to integrate it. The reason is that with `IO_URING` you submit a read/write operation and the execution is happening

[2021-11-26 14:58] eliasing commented on #4576
Thanks @tmael, your PR fixes the issue.

[2021-11-26 15:12] eliasing commented on #4601
Hi @tmael, #4604 does not fix this issue.
I am trying to enable TLS1.3, which using RSA keys requires RSA PSS support and then the above issue raises.
The build error is:
undefined reference to `wc_RsaSSL_VerifyInline'

[2021-11-26 18:05] rockdaboot commented on #4591
@kareem-wolfssl Thanks for your answer !

Wget2 currently only supports HTTP/2 via ALPN. So I assume HTTP/2 doesn't work any more without HAVE_ALPN.
AFAIR, servers also announce HTTP/2 via HTTP headers - have to look into this.
Until then, we could check for ALPN in configure.ac and disable HTTP/2 if not enabled.

[2021-11-29 15:42] embhorn commented on #4605
Hi @kosmas-valianos

Thank you so much for officially registering your feature request with wolfSSL. I've noted your interest in our internal feature tracker. We try to work on requested features whenever we get free engineering cycles unless a customer decides to back the effort for a finite implementation timeline. If at any time a feature becomes a progress blocker for a project it can be accel

[2021-11-29 15:42] #4605 closed

[2021-11-29 17:12] agathauy opened #4611 "ASN Signer -188 error for Let's Encrypt update and WOLFSSL_ALT_CERT_CHAINS solution"
Hello, referencing issue #4443 and the noted solution there, I would like to confirm if the following is what should be done for microcontrollers (for this case using an Arduino):
1. Adding `#define WOLFSSL_ALT_CERT_CHAINS`
2. Changing the pem text file to the updated one https://www.identrust.com/node/1330 with `openssl pkcs7 -inform DER -in IdenTrustCommercialRootCA.p7b -print_certs -outform PEM

[2021-11-29 19:08] dgarske commented on #4605
Hi @kosmas-valianos ,

We do have the ability to override the allocation of the IO send/recv buffers that would allow you to provide custom buffer pointers from IO_URING.

To do this you would define `XMALLOC_USER` and supply your own allocator functions `XMALLOC` and `XFREE`. You can intercept the `type` argument for `DYNAMIC_TYPE_IN_BUFFER` and `DYNAMIC_TYPE_OUT_BUFFER`. You might refer to the `

[2021-11-29 20:33] tmael commented on #4576
Thanks for confirming @eliasing, Closing since the fix has been merged into mainline.

[2021-11-29 20:33] #4576 closed

[2021-11-29 20:41] tmael commented on #4601
Hi @eliasing, Closing. TLS1.3 support with Cryptocell is unavailable at the moment and you can't expect it to work out of the box. We have been tracking a TLS/DTLS port feature request internally. If you need to expedite the request, please contact support@wolfssl.com.

[2021-11-29 20:41] #4601 closed

[2021-11-29 21:34] kareem-wolfssl commented on #4611
Hi @agathauy ,

Yes, ALT_CERT_CHAINS + SNI is all you should need to get Let's Encrypt sites working again.  Is your site using Let's Encrypt?  If so, give this cert a try instead: https://letsencrypt.org/certs/isrgrootx1.pem
Let's Encrypt's updated X3 root from Identrust which you linked doesn't match the signature of the old X3 root, so we won't use it in an alt cert chain.  The X1 root I linked

[2021-11-29 21:38] kosmas-valianos commented on #4605
Thanks @dgarske , that sounds like a viable solution to what we are after

[2021-11-29 23:38] mandree commented on #4593
Thanks, will try later. FWIW, my application still tolerates OpenSSL 1.0.2 on the assumption that some distributors would backport fixes (possibly under paid support contract) - and formally, this SSL_MODE_AUTO_RETRY was not set in earlier OpenSSL versions either, but for some reason, this issue never cropped up with OpenSSL 1.0.2 either in my testing. I did not dig deeper because OpenSSL 1.1.1 cl

[2021-11-30 03:00] SparkiDev commented on #4598
Hi @e2iplayer,

I've looked into this and came to the conclusion that older gcc compilers don't support $hi and $lo.
Newer compilers support %hi and %lo so I've put up a pull request that uses these names instead: https://github.com/wolfSSL/wolfssl/pull/4616

Let me know if there are other problems!

[2021-12-01 21:02] e2iplayer commented on #4598
Thank you.

[2021-12-01 21:02] #4598 closed

[2021-12-02 00:15] argold97 opened #4623 "EmbedSend() handling of EPIPE"
I recently updated from wolfSSL 4.5.0 to 5.0.0 and noticed a functional change/bug that I'm not sure was intended.

Prior to https://github.com/wolfSSL/wolfssl/commit/c88afdef87f5e6178087b592208ca403e685fb1d, `EmbedSend()` would translate an `EPIPE` errno into `WOLFSSL_CBIO_ERR_CONN_CLOSE`. Later on this error code would inform some other code that the peer had closed the connection, prompting som

[2021-12-02 07:36] SparkiDev commented on #4596
Hi @CindyZhouYH

I noticed that the scalar you are multiplying by is much larger than the order of the curve.
When I compiled the above code, after some rework, against the latest wolfSSL, the wc_ecc_mulmod_ex() call returns error -217: ECC_OUT_OF_RANGE_E.
This is because the number of bits in the modulus is less than the number of bits in the scalar.

This function will not work if you pass a sca

[2021-12-03 15:45] julek-wolfssl commented on #4298
https://github.com/wolfSSL/wolfssl/pull/4301 has been merged and this issue is resolved. Thank you for your report @ordex!

[2021-12-03 15:45] #4298 closed

[2021-12-03 16:47] julek-wolfssl commented on #4623
Thank you for your submission @argold97. I don't think that this omission was intentional and was an oversight during a refactor. I have proposed a fix to your issue in https://github.com/wolfSSL/wolfssl/pull/4628. Could you please run your tests against this pull request and see if it resolves the `EPIPE` handling?

[2021-12-03 20:17] mandree commented on #4592
@julek-wolfssl  OpenSSL calls the callback four times, working through the entire chain, root first - but I am scratching my head whether we look at an interpretation issue. I am proposing here that checking anything in the chain but the server's certificate (depth == 0) for its Subject CommonName is meaningless - only the server certificate's Subject CommonName would contain a DNS hostname, but n

[2021-12-03 20:20] argold97 commented on #4623
Yes, that works fine.

On Fri, Dec 3, 2021, 8:47 AM Juliusz Sosinowicz ***@***.***>
wrote:

[2021-12-03 20:35] mandree commented on #4593
I can't test since the branch you refer to identifies as 4.1.0 and has an insufficient API, missing, for instance, sk_GENERAL_NAME_free(). I'll be happy to re-test if you point me at some 5.0.0 or newer branch.

[2021-12-05 08:28] agathauy commented on #4611
Thanks so much for replying fast @kareem-wolfssl ! Will test this out :D

[2021-12-05 15:19] ElLamparto commented on #4382
Hello,

Actually it was my fault. I've blocked the socket on reading.
Thanks.

[2021-12-05 15:19] #4382 closed

[2021-12-08 16:17] julek-wolfssl commented on #4593
@mandree I would just like to ask, is this issue in relation to a specific project you are working on?

[2021-12-08 17:02] mandree commented on #4593
@julek-wolfssl  I just did git clone https://github.com/julek-wolfssl/wolfssl.git which led me to

commit ec4841ec58f16cb66c2196327356d6b45a85a1e1 (HEAD -> master, origin/master, origin/HEAD)
Merge: 91a41e52d 625bd121f
Author: Juliusz Sosinowicz <...>
Date:   Tue Oct 8 10:20:35 2019 +0200

    Merge remote-tracking branch 'wolfSSL/master'

I've now looked specifically for the AUTO_RETRY and got th

[2021-12-12 07:03] ryancaicse opened #4653 "Suggestions about error handlings for locking"
Hi, developers, I have a suggestion about error handlings for locking. Would it be better to handle the possible errors that return from pthread_mutex_lock.

For example, this example does not check the value returned by pthread_mutex_lock() for errors. If pthread_mutex_lock() cannot acquire the mutex for any reason, the function may introduce a race condition into the program (CWE-413).

The mann

[2021-12-14 13:27] cbjornram opened #4659 "Can't run make for 16-bit architecture"
Hi,

I have tried and failed multiple times now with compiling WolfSSL for 16-bit architecture. I am not sure which parts I should disable and want to ask for help about it. My configuration looks like this:

`./configure --prefix=$HOME/wolfssl --enable-16bit --disable-benchmark --disable-crypttests --disable-examples --disable-kcapi-hmac --disable-hkdf --disable-truncatedhmac --disable-enc-then-m

[2021-12-14 22:51] kareem-wolfssl commented on #4659
Hi @cbjornram ,

Our 16-bit support is currently incomplete.  It will require some engineering time to get it fully working again.
May I ask what kind of project you are building this for, personal or commercial?

Thanks,
Kareem

[2021-12-15 09:50] cbjornram commented on #4659
Hi @kareem-wolfssl,

Thank you for your reply. I understand, and in that case I suspect it might be better for me to look for alternative solutions.

I am working on a personal project just for fun where I'm trying to get a ATmega2560 to send sensor values (arriving through hardware serial communication) with MQTTv5 and TLS 1.2 encryption, over a SIM800H modem. I've gotten the MQTTv5 part working

[2021-12-15 18:39] kareem-wolfssl commented on #4659
No problem @cbjornram , I wish I had a better answer.
You may be able to get it working by overriding our types (word32 etc) in wc_port.h to the appropriate size.
We do support a variety of hardware, really just about any 32-bit or higher architecture should work.

Thanks,
Kareem

[2021-12-17 10:01] cbjornram commented on #4659
I will try that that. Thank you for your help.

Kind regards,
Christoffer

[2021-12-17 10:01] #4659 closed

[2021-12-17 21:27] embhorn commented on #3984
I am closing this issue, but please note that this concern was reviewed by the wolfSSL team.

[2021-12-17 21:27] #3984 closed

[2021-12-21 15:39] namazso opened #4683 "examples/configs/user_settings_all.h doesn't compile on VS2019 x64"
repro:

clone master, then in visual studio 2019 x64 powershell:

[code]

output:
[code]

[2021-12-21 15:48] julek-wolfssl commented on #4623
Pull request is merged. Closing issue. Thank you for your report.

[2021-12-21 15:48] #4623 closed

[2021-12-21 15:55] julek-wolfssl commented on #4593
@mandree could you run your test against the master wolfSSL branch with `OPENSSL_COMPATIBLE_DEFAULTS` defined during compilation? `WOLFSSL_FORCE_AUTO_RETRY` Is not necessary anymore. This behavior has been added to the `OPENSSL_COMPATIBLE_DEFAULTS` macro. wolfSSL will always retry reading from a socket with this option turned on. It may be possible that this isn't the case when using BIO's for the

[2021-12-21 15:59] julek-wolfssl commented on #4592
@mandree Thank you for the additional details. We will discuss internally on what the desired behavior should be and take appropriate action.

[2021-12-21 16:05] namazso opened #4684 "unresolved external symbol InetPton"
[code]

... later ...

[code]

if windows headers were included, InetPton would be defined as InetPtonW and not error out. Repro:

clone master, then in visual studio 2019 x64 powershell:

[code]

[2021-12-21 16:44] dgarske commented on #4683
Hi @namazso,

Thank you for the report. I am able to reproduce these fe_448 math warnings with Visual Studio. We will work on adding explicit casting for these. The VS compiler is very strict on the casting. I am not concerned with these warnings causing any runtime issues.

Thanks,
David Garske, wolfSSL

[2021-12-21 16:45] namazso commented on #4683
I'm not concerned about the warnings either, a bit more about the linking errors as I don't get an usable output.

[2021-12-21 21:37] embhorn commented on #4684
Hi @namazso

Are you building with VS? Which VS configuration are you building?

Thanks,
Eric - wolfSSL Support

[2021-12-21 22:03] namazso commented on #4684
yes, latest version of VS 2019.  Everything else is in the opening post, but I'll decipher the msbuild line for you:
`/p:WindowsTargetPlatformVersion=10 /p:PlatformToolset=v142`
retargeted for vs2019 toolset and latest win10 sdk (10.22000 on my system aka win11 sdk)
`/p:Configuration=Release`
Release config
`/p:Platform=x64`
On x64
`wolfssl64.sln`
all targets

[2021-12-21 22:06] namazso commented on #4684
for me the graphical IDE also reproduced the problems when doing the config changes (aka the echo line)

[2021-12-21 22:46] embhorn commented on #4684
Please try adding an include for `ws2tcpip.h`  in `wolfssl/wolfcrypt/wc_port.h`

[code]

[2021-12-21 22:57] embhorn commented on #4684
I can also confirm build errors with `OPENSSL_ALL` defined.

[2021-12-22 02:49] SparkiDev commented on #4683
Hi @namazso

The project is missing the file: fe_low_mem.c

Please add this file and let us know if you link.

[2021-12-22 04:57] duk-37 commented on #4684
relatively simple fix/workaround for this that works independent of include order: (`Windows.h` needs to be included before `ws2tcpip.h`)

(just needs to be above the two XINET_NTOP/XINET_PTON definitions)
[code]

[2021-12-22 05:05] namazso commented on #4684
@embhorn  i can confirm the patch works

[2021-12-22 05:07] namazso commented on #4683
I can confirm it works after adding that file to the wolfssl project

[2021-12-24 06:36] #4684 closed

[2021-12-25 22:32] al-sabr commented on #4323
Plugin wolfSSL inside of any C++ Cmake project would improve the package dependency management. OpenSSL is already ported to vcpkg and everyone is using it. If you want us to switch to wolfSSL this a good motivator.

[2021-12-26 20:42] mandree commented on #4593
@julek-wolfssl tried it with wolfssl as of 4e1c39b4c6c38d9751e2ac85d68d76200e4a67ae. wolfSSL identifies as 5.0.1 and I've confirmed that the option landed in CFLAGS, fetchmail 6.4.25 with the two `git revert` shown above.

[code]

Still no joy. wolfSSL debug output first, which shows that the read takes place.
I can confirm that with ltrace -S that SSL_peek recvfrom()s 5 bytes,  then 250 bytes, an

[2021-12-26 20:56] mandree commented on #4593
@julek-wolfssl  I have toyed with my code and have it read and cache 1 byte when SSL_peek() returns SSL_ERROR_WANT_READ, then things seem to work. Not sure what is the difference here inside wolfSSL, with that code in place, I get this ltrace -S:
[code]

[2021-12-26 20:59] mandree commented on #4593
Note that for all output above, fetchmail calls SSL_CTX_set_mode(), but wolfSSL 5.0.0 refuses that code with "Not implemented", the master branch at rev shown above accepts it, but somehow does not heed it. I still need to force this one-byte read.

[2021-12-26 21:02] mandree commented on #4593
On another server (imap.gmx.net) that I am trying, I find that the CAPABILITY received from the server is shorter, and that seems to pose no problem, SSL_peek then returns 222. So might this be some buffer sizhe rounding/retry issue?

This is on imap.gmx.net, where SSL_peek() returns 222:
[code]

[2021-12-26 21:04] mandree commented on #4593
Apparently there are handshaking differences. This is the wolfSSL debug output for imap.gmx.net - note that the failing server makes wolfSSL log "received record layer msg -> got app DATA" above, while the working one makes wolfSSL log "received record layer msg -> got app DATA":
[code]

[2021-12-28 17:44] julek-wolfssl commented on #4593
Hi @mandree , is it possible for you to provide the full wolfSSL logs of a faulty connection (possibly intertwined with fetchmail logs to show where the error occurs)? I have some ideas on why this might still be an issue for fetchmail but I would need the full logs to confirm. If you do not wish to upload the logs here, you may email them to support@wolfssl.com.

The shorter read from wolfSSL may

[2022-01-04 22:56] JacobBarthelmeh commented on #4653
Thanks for the report @ryancaicse, we merged in some changes to check the return value of all pthread mutex locks in that file.

[2022-01-04 22:56] #4653 closed

[2022-01-06 05:12] ryandesign opened #4727 "ocsp-stapling2.test fails"
With wolfssl 5.1.1 on macOS 10.15.7, ocsp-stapling2.test fails for me.

I'm not sure if I'm reading the test-suite.log correctly but it looks like the problem might be:

[code]

[test-suite.log](https://github.com/wolfSSL/wolfssl/files/7819605/test-suite.log)

[2022-01-06 13:52] embhorn commented on #4727
Hi @ryandesign

Is this a persistent failure? Could you please share the wolfSSL configuration used to reproduce this?

[2022-01-06 13:58] ryandesign commented on #4727
It happened all three times I tried the tests (once with 5.0.0, twice with 5.1.1), so yes, so far it is persistent.

`./configure` was run with `--prefix=/opt/local --enable-distro --disable-jobserver --disable-silent-rules`. The environment variables that were set were:

[code]

The summary output from the configure script was:

[code]

[2022-01-06 14:09] ryandesign commented on #4727
I was doing with [MacPorts](https://ports.macports.org/port/wolfssl) by running `sudo port test wolfssl`.

[2022-01-07 13:36] t0x1c opened #4731 "Hmac code resource leak"
wolfcrypt/src/port/kcapi/kcapi_hmac.c, line 186:   if (ret == 0 && hmac->handle == NULL) {

This check was probably meant to be "hmac->handle != NULL", so old handle is released before creating a new one.

[2022-01-07 19:55] dgarske commented on #4727
Hi @ryandesign ,

Looks like an issue with synchronization due to the ready file using the same name.

In my logs here it shows:

[code]

In yours the logs immediately show `found ready file, starting client...` and the openssl client tries to connect before the server is ready.

I am working on a fix and will point you to it shortly.

Thanks,
David Garske, wolfSSL

[2022-01-07 20:09] dgarske commented on #4727
Hi @ryandesign ,

Actually it is removing the file before, but the server thinks it still exists. Is there something MacPorts is doing with the file system that could cause this sync behavior? If you add a call to `sync` or even `sleep 0.1` does the behavior resolve?

I am not familiar with MacPorts use to reproduce. Perhaps you can share some instructions? I am on `macOS 11.6.1`.

Thanks,
David G

[2022-01-07 20:53] ryandesign commented on #4727
I am using the APFS filesystem, which does have different characteristics than the old HFS+ filesystem, but all users on macOS 10.14 and later are using APFS since the OS upgrade auto-converts HFS+ disks to APFS.

Based on your comments I thought it might be due to running the tests in parallel with `make check -j8`. Normally in MacPorts we don't run tests in parallel but because wolfssl's build s

[2022-01-07 20:57] dgarske commented on #4727
Hi @ryandesign,

This test relies on the openssl command line to setup a OCSP responder. What does your `openssl version` report? I do not see that issue here on my Mac. Perhaps you can try building wolfSSL with `--enable-debug` also and provide the log running `./scripts/ocsp-stapling2.test`?

Thanks,
David Garske, wolfSSL

[2022-01-07 20:58] ryandesign commented on #4727
MacPorts recently updated to openssl 3...
[code]

[2022-01-07 21:00] ryandesign commented on #4727
Going back to openssl 1.1 fixes the test.
[code]

[2022-01-07 21:59] dgarske commented on #4727
Hi @ryandesign ,

I can reproduce with `openssl version` `OpenSSL 3.0.1 14 Dec 2021 (Library: OpenSSL 3.0.1 14 Dec 2021)`.

[code]

@embhorn will you take a look or assign to someone?

Thanks,
David Garske, wolfSSL

[2022-01-07 22:10] ryandesign commented on #4727
This error does also appear in many of the other tests which purportedly completed successfully.

[2022-01-07 22:24] elms commented on #4727
@ryandesign I'm reproducing the error and digging into it. Can you provide a list of any other specific occurrences?

[2022-01-07 22:37] ryandesign commented on #4727
Here's what I see:
[code]

[2022-01-07 23:48] elms commented on #4727
@ryandesign After digging into the error I was able to pass the test by using `./configure --enable-secure-renegotiation --enable-ocspstapling2`. openssl3 appears to have changed a warning to an error for use of legacy renegotiation.

Instead of requiring secure renegotiation, I've changed the test in https://github.com/wolfSSL/wolfssl/pull/4735 to address the test with openSSL 3. I'll look for th

[2022-01-08 17:54] douzzer opened #4737 "--enable-all --enable-sessionexport"
unit.test fails thusly on an `--enable-all --enable-sessionexport` build:
[code]

[2022-01-09 12:18] rockdaboot commented on #4591
@AMDmi3 Can we close this issue ?

[2022-01-10 11:47] julek-wolfssl commented on #4592
A fix for this check to be performed only on leaf certs is open here: https://github.com/wolfSSL/wolfssl/pull/4716

[2022-01-10 20:52] #4731 closed

[2022-01-10 23:57] mandree commented on #4593
@julek-wolfssl now trying wolfSSL master as of 5910ada93df3f524e02d5e67d68afd49fd54a8d2, and fetchmail 6.4.26 (branch legacy_6x) with `git revert 6a5484e03 8128beadf` which is important to remove the wolfSSL compat workarounds. wolfSSL identifies as 5.1.2 (`./fetchmail -V` after the build).

**Note 1:** I have figured the error is TLS 1.3 specific and will not happen with TLS 1.2 or 1.1 (add `--ss

[2022-01-11 00:23] SparkiDev commented on #3437
Hi @neufeng

Due to the long period of inactivity, I am closing this issue.

Thanks.

[2022-01-11 00:23] #3437 closed

[2022-01-11 00:25] SparkiDev commented on #4506
Hi @monokles

Please let us know if we have fixed your issues.

[2022-01-11 14:16] AMDmi3 commented on #4591
@rockdaboot I've no idea. The issue was not resolved and no solution was proposed.

If it's going to be resolved on wget2 side by fixing the build with wolfssl with disabled alpn (even if it leads to disabling HTTP2 support), then this can probably be closed.

Otherwise it needs to be resolved on wolfssl side by enabling alpn by default. Are there reasons against it?

[2022-01-11 19:39] CookiePLMonster opened #4744 "XSTAT used as a structure and function definition makes it hard to use properly"
If one wants to make WolfSSL use custom IO functions, they may define their own macroes for functions in `user_settings.h`. However, in the case of `XSTAT` it's needlessly hard to do since WolfSSL uses that macro both for the structure definition and the name of the function call.

For one example, see this PR: https://github.com/RPCS3/rpcs3/pull/11359 where `XFOPEN` is defined to point towards a

[2022-01-12 08:51] axawsi opened #4747 "5.0.0 --enable-asio without TLSv1.1"
When configuring with **--enable-asio**, it seems like the configure script adds the definitions for several wolfssl features which might actually be disabled:
https://github.com/wolfSSL/wolfssl/blob/master/configure.ac#L4879-L4884

In my case it failed downstream in https://github.com/boostorg/asio/blob/boost-1.75.0/include/boost/asio/ssl/impl/context.ipp#L206-L215 as **-DSSL_TXT_TLSV1_1** was de

[2022-01-12 16:43] t0x1c opened #4748 "TLS server: incorrect extensions selection"
Unable to connect to wolfSSL server (specifically with BouncyCastle client) if encrypt-then-mac extension is used. Here's explanation in BC source code:

So apparently wolfSSL server does choose AEAD cipher but does not exclude encrypt-then-mac extension in ServerHello message.
I believe, adding this check should be a relatively easy fix. Maybe inside TLSX_Write() function, or maybe rather in clie

[2022-01-13 01:58] SparkiDev commented on #4748
Hi @t0x1c

I have put up a fix for this: https://github.com/wolfSSL/wolfssl/pull/4750

Let me know if this works for you!

Sean :-)

[2022-01-13 16:03] t0x1c commented on #4748
Hi Sean,
I did a quick test and it seems to be working. Thanks!

[2022-01-13 18:35] elms commented on #4727
@ryandesign I'm closing as this is fixed with #4742. Thanks for the report and let us know if you run into anything else.

[2022-01-13 18:35] #4727 closed

[2022-01-13 21:38] SparkiDev commented on #4748
Hi @t0x1c

The PR has been merged and as it works for you, I'm closing the issue.

Sean :-)

[2022-01-13 21:38] #4748 closed

[2022-01-14 21:55] kareem-wolfssl commented on #4744
Hi @CookiePLMonster,

Good point, I've created a PR to separate out `struct _stat`'s definition: https://github.com/wolfSSL/wolfssl/pull/4757/files
Let me know if it fixes the issue for you.

Thanks,
Kareem

[2022-01-14 22:04] kareem-wolfssl commented on #4747
Hi @axawsi,

Yes, if TLS 1.1 is disabled (`ENABLED_OLD_TLS` is false), we need to exclude the TLS 1.1 flag.  I've created a PR that does this here: https://github.com/wolfSSL/wolfssl/pull/4758
Let me know if it resolves the issue for you.

Thanks,
Kareem

[2022-01-15 11:23] CookiePLMonster commented on #4744
Thank you! I can confirm this fixes the usage issue, I have created a proof-of-concept PR utilizing this feature and showing it is functional now: https://github.com/RPCS3/rpcs3/pull/11378

[2022-01-16 07:14] t0x1c opened #4763 "wolfSSL_EVP_get_cipherbyname - missing uppercase cipher names"
wolfSSL_EVP_get_cipherbyname does not recognize uppercase AES128/AES256 names (trying to port OpenSSL code).
Internal lookup table contains upper and lower case equivalents for cipher names, except for AES128 and AES256 (and maybe newer ones with GCM). Not a big deal. Just a consistency matter.

[2022-01-17 00:03] SparkiDev commented on #4763
Hi @t0x1c,

A pull request has been put up to support any case alternative versions: https://github.com/wolfSSL/wolfssl/pull/4764

Let me know if this covers your use cases!

Thanks,
Sean :-)

[2022-01-17 15:25] t0x1c commented on #4763
Hi Sean,
I just renamed my variables to lowercase to work around this for the time being. Since you changed it to case-insensitive comparison it should cover all possible cases. Thanks.

[2022-01-17 15:25] #4763 closed

[2022-01-17 22:15] douzzer opened #4766 "recursive calls in sp_int.c and ssl.c"
`clang-tidy` analyzer `misc-no-recursion` uncovered 4 recursive codepoints, all 4 of which are direct recursion, not indirect via a larger cycle:
[code]

If these recursions are formally bounded and deemed acceptable, we can add point suppressions for them, but it would be neater to refactor them away entirely.

[2022-01-17 22:19] SparkiDev commented on #4766
sp_invmod calls itself when the modulus is even. It swaps the modulus and value to invert and does fixups after. (Bails earlier if both modulus and value are even.)
I took this pattern from the tfm.c code.
I'll take a look at reworking it.

[2022-01-17 22:48] SparkiDev commented on #4683
The file fe_low_mem.c has been added to wolfssl.vcxproj in the wolfSSL 5.1.1 release.

[2022-01-17 22:48] #4683 closed

[2022-01-18 22:58] #4085 closed

[2022-01-19 17:39] julek-wolfssl commented on #4592
Hi @mandree, the pull request fixing this issue has been merged. Thanks for the report! Closing issue.

[2022-01-19 17:39] #4592 closed

[2022-01-19 17:48] julek-wolfssl commented on #4593
@mandree I've found an issue with how we're currently implementing the auto retry logic. It should only retry reads and writes for handshake messages. The way that I have solved this in a working branch is with:

[code]

I recommend applying this patch to your version of wolfSSL so that fetchmail will still receive WANT_{READ|WRITE} when not in a handshake.

[2022-01-19 19:28] mandree commented on #4593
@julek-wolfssl this is going in the wrong direction. An application that uses blocking I/O (breaking free with alarm(some_timeout_value); and a SIGALRM handler) and that sets the SSL_MODE_AUTO_RETRY mode should _never_ see a WANT_READ or WANT_WRITE code because it will not implement retry logic.

[2022-01-19 19:29] mandree commented on #4592
Thanks, this is mostly solved, with just the error string translation wrong in a different place:
`fetchmail: SSL verify callback depth 1: verify_ok == 1, err = 0, unknown error number`
^ this was wolfSSL. v now follows OpenSSL:
fetchmail: SSL verify callback depth 1: verify_ok == 1, err = 0, ok

[2022-01-19 19:32] mandree opened #4773 "X509_verify_cert_error_string(0) incompatible with OpenSSL"
as of 4c05d35452f4226f49b0b066b7f42892e0fc8a3e:
X509_verify_cert_error_string(0) is incompatible with OpenSSL and returns "unknown error number", whereas with OpenSSL 1.1.1, it returns "ok".

`fetchmail: SSL verify callback depth 1: verify_ok == 1, err = 0, unknown error number`
^ this was wolfSSL. v now follows OpenSSL:
`fetchmail: SSL verify callback depth 1: verify_ok == 1, err = 0, ok`

_Origi

[2022-01-19 21:08] julek-wolfssl commented on #4592
Thanks. I'll make a note to add a case in the error translation to treat `0` as no error.

[2022-01-19 21:09] julek-wolfssl commented on #4593
You are correct @mandree. I will need to run `fetchmail` myself to be able to better comment on what is happening. I will try to get back to you with results as soon as possible!

[2022-01-21 13:34] rod-chapman opened #4786 "[Bug]: possible integer overflow in sp_384_mont_reduce_order_15()"
### Contact Details

rod@proteancode.com

### Version

5.1.1

### Description

Building with HAVE_ECC, HAVE_ECC_SIGN, with curve P384 and SHA384.

In sp_384_mont_reduce_order_15() in sp_c32.c, the variable mu is calculated as follows:
        mu = (a[i] * mp) & 0x3ffffff;
on line 28350 and similarly on line 28354.

With mp = 384_mp_order = 0x8fdc45

it looks like that "*" is for signed 32-bit inte

[2022-01-21 18:33] dgarske commented on #4786
Hi @rod-chapman , thank you for the detailed report. @SparkiDev will look into this when he is back in the office Monday.

[2022-01-23 22:48] SparkiDev commented on #4786
Hi @rod-chapman,

All words in 'a' will contain no more than 27-bits and will be a positive number.
mu is fixed for the order and is 27-bits.
Only 27-bits of the multiplication result are required.

Does this answer your concerns?

[2022-01-24 01:15] xanderdunn opened #4788 "[Bug]: wc_ecc_encrypt Not Found When Linking Against Static Linux SGX Library"
### Contact Details

_No response_

### Version

v5.1.1-stable

### Description

I am using the SGX static library [here](https://github.com/wolfSSL/wolfssl/tree/master/IDE/LINUX-SGX). I am successfully building and running the wolfSSL SGX example provided [here](https://github.com/wolfSSL/wolfssl-examples/tree/master/SGX_Linux).

The [ECC API Reference](https://www.wolfssl.com/doxygen/group__ECC.

[2022-01-24 09:18] rod-chapman commented on #4786
Not really... if all the elements of a are limited to 27 bits, and mp (not mu) is 27 bits, then you need at least 54 bits to store the intermediate result before the "&" operation is applied. It doesn't matter that a is positive - the underlying type is signed, therefore this is an undefined behaviour. (It might happen to work OK for all current targets and compilers, but that is not guaranteed by

[2022-01-24 15:37] t0x1c opened #4791 "SHA1 client certificate validation fails if NO_OLD_TLS is specified"
### Version

5.1.1

### Description

wolfSSL server is configured to validate client certificate. Client presents a certificate signed with RSA/SHA1.
NO_OLD_TLS is specified, which cancels out SHA1. But it's brought back with WOLFSSL_ALLOW_TLS_SHA1.

DoCertificateVerify fails: after call to wc_EncodeSignature following XMEMCMP fails with non-zero result.

Looks like some conditional parts of the c

[2022-01-24 16:40] xanderdunn commented on #4788
Thanks Eric!

Running `./config.status` before build is described in the [SGX-specific build instructions](https://github.com/wolfSSL/wolfssl/tree/master/IDE/LINUX-SGX#overview-and-build).

I reconfigured and then ran `make` without calling `./config.status` and can confirm that all of my desired options remain in wolfssl/options.h before I do the static build, but it still has no effect on the sy

[2022-01-24 21:35] xanderdunn commented on #4788
With the above changes to the Makefile, I'm having difficulty building and running with TLS 1.3 rather than 1.2. I see these warnings during compile:
[code]
Apparently it thinks `wolfTLSv1_3_client_method()` and `wolfTLSv1_3_server_method()` are returning `int` when they should be returning `WOLFSSL_METHOD *`.

And sure enough it segfaults at runtime when the code calls `wolfSSL_CTX_new()` on the

[2022-01-24 22:31] SparkiDev commented on #4506
Hi @monokles

Due to inactivity and our belief that the merged PR fixes the issue, the ticket is being closed.

[2022-01-24 22:31] #4506 closed

[2022-01-24 23:46] petertorelli opened #4792 "What is the function for shared secrets on C25519"
### Version

5.1.0

### Description

The function `wc_ecc_shared_secret` takes only an `ecc_key *` type key, and not an `ed25519_key *`. There is no corresponding shared secret function `wc_ed25519_*` for implementing X25519 DH. What did I miss?

[2022-01-25 06:19] danielinux commented on #4792
hi @petertorelli,
Please check our x25519 module in wolfcrypt/curve25519.h

[API documentation here](https://www.wolfssl.com/doxygen/group__Curve25519.html).

`wc_curve25519_shared_secret` is likely the function you are looking for.

[2022-01-26 01:33] petertorelli opened #4796 "curve25519_shared_secret doesn't match RFC7748 example in section 6.1"
### Version

5.1.1-stable

### Description

In [RFC7748 Section 6.1](https://datatracker.ietf.org/doc/html/rfc7748#section-6.1) there are some example points used to compute a shared secret.

First I init the keys, load the private, check the public, then load the public (abbreviated a little so it's easier to read):
[code]
Here I notice that the private key is clamped according to Section 5 durin

[2022-01-26 13:06] JacobBarthelmeh commented on #4788
Hi @xanderdunn, for now I would suggest adding the macro's desired to the wolfssl/wolfcrypt/settings.h file (https://github.com/wolfSSL/wolfssl/blob/master/wolfssl/wolfcrypt/settings.h#L1761). Or by setting up a user_settings.h file and using the macro WOLFSSL_USER_SETTINGS when compiling both the wolfSSL library and the applications.

My guess is that since the declaration of wolfTLSv1_3_server_m

[2022-01-26 14:49] embhorn commented on #4791
@t0x1c

I've created #4793 to fix this issue. Please let me know if this addresses your concerns in this issue.

[2022-01-26 17:35] embhorn commented on #4796
Hello @petertorelli

Could you please share the wolfSSL configuration you are using?

[2022-01-26 18:50] petertorelli commented on #4796
Hi @embhorn,

First, I'm using 5.1.1-stable, not 5.1.0. Here's my invocation:

[code]

[2022-01-26 23:10] dgarske commented on #4796
Hi @petertorelli ,

Took me a bit to write up that test case. I can reproduce both issues.
1) The public check if not clamped `bob_pub[0] &= 127;` -> `Error -217:  ECC Qx or Qy out of range error`
2) Different shared secret then test vector.
[code]

I am looking into this and suspect it has to do with the clamping when importing keys manually.

The test case has been pushed here for now: https://g

[2022-01-26 23:28] petertorelli commented on #4796
Thanks David. I have a test case in GitHub, but it is part of a larger project I was working on with Jacob Barthelmeh at EEMBC for [SecureMark](https://github.com/eembc/securemark-tls/blob/v2/examples/selfhosted/main.c) and wasn't sure if you had a simpler testbench.

[2022-01-27 00:33] SparkiDev commented on #4786
Hi @rod-chapman

While it is undefined, I haven't had a problem with this as of yet.
But in order to obviate a problem in the future, and to stop Rust complaining, I've put a pull request up with the change to make the operands the unsigned type.

Let me know if there are more issues like this in the code or Rust still 'panics'.

[2022-01-27 01:18] SparkiDev commented on #4796
I modified hex2bin() in curve25519_test.c to place the bytes in reverse order and the test passes.
Please confirm this works for you too.

Thanks,
Sean

[2022-01-27 01:28] SparkiDev commented on #4796
Also, importing and exporting with EC25519_LITTLE_ENDIAN worked for me also.

[2022-01-27 08:32] CindyZhouYH commented on #4596
Sorry for the delayed reply.
I tried again using the latest version. The result is just as you said.
Maybe there are some problems with the version I used before.
Thanks again:)

[2022-01-27 08:32] #4596 closed

[2022-01-27 15:40] dgarske commented on #4796
Hi All,

Confirmed it is an endianness issue with the order of the byes in the test vectors. I've push an update to the example and put up a pull request here: https://github.com/wolfSSL/wolfssl-examples/pull/285

@petertorelli let me know if you see any other issues.

Thanks,
David Garske, wolfSSL

[2022-01-27 16:23] petertorelli commented on #4796
Thank you for confirming this: when I swapped endianness during my first test I had mistakenly masked the wrong byte which gave me a -217 (`ECC_OUT_OF_RANGE`).

The import public key function does not mask the HOB against 127 (unlike import private which clamps). Just to confirm, does this mean it still must by done prior to import?

[2022-01-27 16:23] #4796 closed

[2022-01-27 16:45] dgarske commented on #4796
Hi @petertorelli ,

I cannot find any requirement from the RFC to mask the signed bit on the public key import. However I do see a note about the final result being masked to avoid the signed bit being set. With the endianness setup correctly the MSB is not set on the public key portion and the generated public key computed from the private key will also never have it set.

@SparkiDev do you have

[2022-01-27 17:01] petertorelli commented on #4796
@dgarske Thanks again!

[2022-01-27 22:16] SparkiDev commented on #4796
Hi @petertorelli

The clamping happens at time of private key generation.
An exported private key will have been clamped and so importing doesn't need to clamp.
We expect that any externally generated private key to have been clamped.

Sean

[2022-01-29 15:58] rod-chapman commented on #4786
Will do. I think it's worth fixing to future-proof your code. It's also a blatant MISRA violation, of course.
I will keep you posted if my Rust code raises any more issues.

[2022-01-30 17:12] xanderdunn commented on #4788
Thanks @JacobBarthelmeh. Adding this to wolfssl/wolfcrypt/settings.h:
[code]

Now both the headers and the library symbols are found. Build successful 👍

When setting the wolfssl-exmaples/SGX_Linux to use TLS 1.3 rather than 1.2, the client is now failing to connect, but that's likely a difference in usage that's outside the scope of this issue.

[2022-01-30 17:12] #4788 closed

[2022-01-31 23:36] SparkiDev commented on #4786
The pull request is merged.
Can this issue be closed?

[2022-02-01 05:13] douzzer commented on #4766
This is resolved for `sp_invmod()` (#4768) and `wolfSSL_ASN1_item_i2d()` (#4772).

`wolfSSL_OBJ_obj2txt()` and `wolfSSL_BIO_dump()` are still marked `NOLINT(misc-no-recursion)`.

`wolfSSL_OBJ_obj2txt()` recursion is formally bounded at max depth 2 and doesn't need refactoring.

`wolfSSL_BIO_dump()` does still need refactoring.

[2022-02-01 07:18] rod-chapman commented on #4786
Looks good to me.

[2022-02-01 22:25] SparkiDev commented on #4786
Thanks @rod-chapman!

[2022-02-01 22:25] #4786 closed

[2022-02-01 23:11] t0x1c commented on #4791
Sorry for late response. I tried to apply your changes to 5.1.1 release code, and it looks like it's not enough - server still assumes certificate invalid. I searched for NO_OLD_TLS usage and there are many more conditional places involving SHA computations, though I'm not sure which of them are used for certificate validation: InitHandshakeHashes, FreeHandshakeHashes, BuildFinished, SendCertifica

[2022-02-02 08:15] tomtomdu85 opened #4815 "[Bug]: Compilation KO with NO_FILESYSTEM option"
### Contact Details

tom.du.85spam@gmail.com

### Version

v5.1.1-stable

### Description

In file src/ssl.c
Function wolfSSL_PEM_X509_INFO_read

The XFILE type is not defined with option NO_FILESYSTEM.

Put all the function wolfSSL_PEM_X509_INFO_read into #ifndef NO_FILESYSTEM

### Reproduction steps

_No response_

### Relevant log output

_No response_

[2022-02-02 15:51] julek-wolfssl commented on #4593
Hi @mandree, I have compiled and tried running the version of fetchmail you specified (e7ee3344792931d8d9439cc0f79dbcc726580187) with wolfSSL but I am receiving the error that I am not logged in. Is it possible for you to provide the full logs to support@wolfssl.com?

My build configuration:

[code]

I see that you pushed a fix in 6a5484e03e903d3e74d7b6ca8927d616548a6d8c regarding the incorrect re

[2022-02-02 20:02] #4766 closed

[2022-02-04 18:42] #4815 closed

[2022-02-06 12:16] mandree commented on #4593
You do not need to be able to log in to see the error. Just trying to negotiate a TLS 1.3 session with fetchmail will be sufficient. NOTE: it is **critically required** to `git revert 6a5484e03 8128beadf` else fetchmail will mask the bug and you cannot use it as platform to debug wolfSSL. I cannot build your stunnel-5.61 branch to see though,
[code]

I am trying this wolfSSL:
[code]

[2022-02-07 21:03] guidovranken opened #4835 "[Bug]: SP math 32 bit build fails"
### Contact Details

guidovranken@gmail.com

### Version

Git repository checkout

### Description

SP math build fails on 32 bit

This is currently blocking an OSS-Fuzz update: https://github.com/google/oss-fuzz/pull/7226

### Reproduction steps

[code]

### Relevant log output

[code]
[code]

[2022-02-08 00:48] SparkiDev commented on #4835
Hi @guidovranken

I've put up the pull request: https://github.com/wolfSSL/wolfssl/pull/4837
I believe your configuration will work now and not break others.

[2022-02-08 20:38] julek-wolfssl commented on #4773
@mandree The fix for this has been merged to the master branch. Thank you for your report!

[2022-02-08 20:38] #4773 closed

[2022-02-10 08:47] mkm85 opened #4850 "Handle DTLS Hello packets without creating state."
### Version

v5.1.1

### Description

I have a use case where wolfSSL is used in a server process (built on top of asio). This process handles DTLS 1.2 connections.

I would like not to maintain a WOLFSSL object for each unverified Client Hello packet received ie. Client Hello packets without a cookie. The reason is that an attack using spoofed source addresses would make it trivial to exhaust the

[2022-02-10 21:53] ejohnstown commented on #4850
Is it possible to share a test application that illustrates the issue?

[2022-02-11 06:54] mkm85 commented on #4850
I do unfortunately not have a suitable test application which shows my issue.

I can try to clarify what the functionality I'm looking for is like:

The openssl equivalent for the functionality is called DTLSv1_listen https://www.openssl.org/docs/man1.1.1/man3/DTLSv1_listen.html

In the DTLS 1.2 RFC it is described in section 4.2.1 https://datatracker.ietf.org/doc/html/rfc6347#section-4.2.1
[code]

[2022-02-11 10:32] bagder opened #4854 "[Bug]: wolfSSL_get_error() docs could clarify on SSL_ERROR_NONE"
### Contact Details

_No response_

### Version

I'm browsing the docs online: https://www.wolfssl.com/doxygen/group__Debug.html#gae30b3ae133f07c6b9d2b567367489b02

### Description

The documentation for `wolfSSL_get_error` explains its return code as;

(I'll ignore the weird-looking first word "code")

It is (clearly) possible for this function to return `SSL_ERROR_NONE` also when `ret == 0` and

[2022-02-11 13:07] julek-wolfssl commented on #4854
Doc updated in https://github.com/wolfSSL/wolfssl/pull/4855. Please review if it makes sense now.

[2022-02-14 20:00] mkm85 commented on #4850
The idea you are proposing is close to what I tried to do. The problem with that idea is that wolfSSL sends the message sequence 0 instead of 1 in the second ServerHello handshake packet. This is probably because it is the first packet sent in that handshake context, but from the clients perspective it is the second packet received from the server.

[2022-02-14 22:44] SparkiDev commented on #4835
Hi @guidovranken

The pull request has been merged.
Is this all working for you now?

[2022-02-14 22:45] guidovranken commented on #4835
Yes the issue is fixed, thanks.

[2022-02-14 22:45] #4835 closed

[2022-02-17 11:18] denravonska opened #4868 "[Bug]: Invalid sizeof in Silabs wc_AesSetKey"
### Contact Details

denravonska@gmail.com

### Version

WCv5.0-RC12-273-gea432f45c

### Description

When upgrading to gcc-10 I got a warning from the `sizeof` used in `XMEMSET`:

[code]
as seen [here](https://github.com/wolfSSL/wolfssl/blob/df0b516c684bc483956d0bd634d595574a7d20d1/wolfcrypt/src/port/silabs/silabs_aes.c#L51).

Since it takes the size of the pointer and not the struct, this would

[2022-02-17 18:45] #4868 closed, assigned to ejohnstown

[2022-02-20 09:18] mandree commented on #4593
@julek-wolfssl Thank you. Could you let me know (I guess Github will do that implicitly) once committed?

My expectation is that if I am using the OpenSSL API, and my application calls SSL_CTX_set_mode(...SSL_MODE_AUTO_RETRY...) that the application will never see SSL_ERROR_WANT_READ on blocking stream (TCP socket) I/O.

[2022-02-21 11:45] julek-wolfssl commented on #4593
@mandree I will let you know. Its difficult to follow all the possible paths taken in OpenSSL, but in my understanding, `SSL_read` will return `0` with the error set to `0` when no data is available to read. Is that what you have found as well? From what I understand in OpenSSL, `SSL_MODE_AUTO_RETRY` only retries automatically on handshake messages and not on regular application data.

[2022-02-22 05:33] guidovranken opened #4876 "[Bug]: Build with SP math with assembly optimizations fails"
### Contact Details

guidovranken@gmail.com

### Version

Git repository checkout

### Description

Build fails due to invalid code.

This also affects https://github.com/wolfSSL/wolfssl/pull/4849

### Reproduction steps

[code]

Using Clang on Linux x64

### Relevant log output

[code]
[code]

[2022-02-22 07:06] SparkiDev commented on #4876
I've put up the pull request #4877.
Let me know if there is any further issues!

[2022-02-22 11:04] ynezz opened #4879 "[Bug]: SSL_get_verify_result regression with LE certificates introduced in 5.1.1-stable"
### Contact Details

ynezz@true.cz

### Version

5.1.1-stable

### Description

In `v4.8.1-stable`  `wolfSSL_get_verify_result()` used to return `X509_V_OK` when used against `https://letsencrypt.org` site. With update to `v5.1.1-stable` it now returns "unknown error number" (from `X509_verify_cert_error_string()`) value `39` (`X509_V_ERR_INVALID_CA`).

4.8.1 example/client behaviour:

[code]

5.1

[2022-02-22 11:07] ynezz commented on #4879
We've upgraded WolfSSL library being used in OpenWrt from 4.8.1 to 5.1.1 and got following bug report https://github.com/openwrt/openwrt/issues/9283, [affected code](https://gitlab.com/openwrt/project/ustream-ssl/-/blob/master/ustream-openssl.c#L271):

[code]

[2022-02-22 11:09] ynezz commented on #3709
Note to myself about API breakage between 4.8.1 and 5.1.1 update https://github.com/wolfSSL/wolfssl/issues/4879

[2022-02-22 11:13] ynezz commented on #4879
BTW I've already tried to git bisect the issue, but it seems like the Git tree is unusable for that.

[2022-02-22 12:16] ynezz commented on #4879
Seems like commit 1b6b16c2c39796e73262befe89c6abc3d6cf770f or 1acf906612883716e417e25bc098be64c311d448 by @julek-wolfssl touched the codepaths around `peerVerifyRet` and `X509_V_ERR_INVALID_CA`.

[2022-02-22 17:25] julek-wolfssl commented on #4854
Closing as docs have been updated.

[2022-02-22 17:25] #4854 closed

[2022-02-22 18:44] dgarske commented on #4879
Hi @ynezz ,

I believe this issue was fixed with https://github.com/wolfSSL/wolfssl/pull/4857

Let us know if you still see an issue after applying that patch.

Thanks,
David Garske, wolfSSL

[2022-02-22 18:52] ynezz commented on #4879
100% tests passed, thanks!

[2022-02-22 18:52] #4879 closed

[2022-02-23 09:11] julek-wolfssl commented on #4593
@mandree I added the `WOLFSSL_TLS13_NO_PEEK_HANDSHAKE_DONE` define as part of the fixes in https://github.com/wolfSSL/wolfssl/pull/4807. It will be in the master wolfSSL branch once that pull request gets merged.

[2022-02-24 00:52] t0x1c opened #4887 "[Bug]: wolfssl_Accept craches on Solaris/SPARC in TLS 1.3"
### Contact Details

_No response_

### Version

5.2.0

### Description

OS: Solaris 11.3 running on SPARC T4 CPU.
wolfssl_Accept crashes with SIGBUS. This type of exception occurs on SPARC when code tries to read/write unaligned data. Only happens when client connects over TLS 1.3. Works fine with TLS 1.2 client.

I tried to debug it by directly including wolfssl source files into the project. It

[2022-02-24 02:28] dgarske commented on #4887
@SparkiDev any ideas?

[2022-02-24 02:43] t0x1c commented on #4887
Update: I could do more debugging but I'm stuck with RNG issues in debug build.

random.c, wc_RNG_HealthTestLocal() fails:

**line 1314:**  ret = wc_RNG_HealthTest(0, seedB, sizeof(seedB_data), ....  // this returns 0 (success)
seedB buffer contents:
[code]

**line 1318:**  ConstantCompare(check, outputB, ... // this fails

Contents of those 128 byte buffers passed to ConstantCompare:
a:
[code]
b:

[2022-02-24 03:02] t0x1c commented on #4887
Ok, found RNG problem - looks like machine endianness is configured during config time, so if I include source code directly, endianness is not detected properly in compile time, so it falls back to little endian, which is wrong for SPARC.

[2022-02-24 17:34] dgarske commented on #4887
Hi @t0x1c ,

That is great you discovered it was an endianness issue. Do you have a solution to it?

The endianness build option `BIG_ENDIAN_ORDER` or `WORDS_BIGENDIAN` should get set in the `wolfssl/options.h`, which your application should include before any other wolfSSL headers.

Thanks,
David Garske, wolfSSL

[2022-02-24 17:51] t0x1c commented on #4887
Yeah, I've discovered this variable and applied it. With endianness fixed, SHA and RNG work fine and context gets created, however it fails to establish SSL connection, having various socket-related issues. I need to think on other methods of creating a debug build.

Here's how I detect endianness in my code. Not sure where and how to use it in your case, since I'm not familiar with wolfssl archit

[2022-02-24 23:49] ismaell opened #4893 "[Bug]: `X509_get_subject_name` signature doesn't match OpenSSL's"
### Contact Details

_No response_

### Version

5.2.0

### Description

wolfSSL:
[code]
OpenSSL:
[code]

### Reproduction steps

_No response_

### Relevant log output

_No response_

[2022-03-01 16:07] t0x1c commented on #4887
Ok, I made a debug build, but it works fine in debug mode. So this error only occurs in release which I can't debug. So this is something related to optimizations.

[2022-03-01 16:10] t0x1c commented on #4887
Here's full info on the compiler used:
[code]

[2022-03-01 16:52] t0x1c commented on #4887
@dgarske , @SparkiDev
I've found one of the places, but there may be others. It's just as I thought - unaligned access.
compare_InternalTickets in CreateTicket() casts byte array to InternalTicket structure. This array is on 2-byte boundary (2 bytes alignment), so accessing any variable that is larger than 2 bytes will cause a SIGBUS crash. Screenshot attached.

![image](https://user-images.github

[2022-03-01 17:46] t0x1c commented on #4887
To progress past this problem, I made a quick workaround by wrapping InternalTicket struct definition in **#pragma pack(push, 1)** / **#pragma pack(pop)**, so the compiler could generate guard code for accessing members. It works and I didn't notice other issues in my quick test, but that's not a guarantee this is the only place with unaligned access.

Though this workaround adds performance penal

[2022-03-01 17:55] dgarske commented on #4887
Hi @t0x1c ,

Excellent find with the alignment. Would it make sense to have 4 byte alignment set on the structure like `#pragma pack(push, 4)`? I'll work on putting a PR up to fix this. I may try and leverage our `WOLFSSL_GENERAL_ALIGNMENT` macro.

Thanks, David Garske, wolfSSL

[2022-03-01 18:04] t0x1c commented on #4887
This struct has packing of 4 already because it contains word32 members. Marking it as pack-1 tells compiler it can by unaligned. Anyway, I used this approach for testing only since it introduces a performance penalty on any operation involving such struct.
Here's more info on performance (scroll down to disassembly examples)
https://devblogs.microsoft.com/oldnewthing/20200103-00/?p=103290

[2022-03-01 20:03] dgarske commented on #4887
Hi @t0x1c ,

I've put up a fix here:
https://github.com/wolfSSL/wolfssl/pull/4908

Let me know if that works for you. If not let me know if you see padding issue on the internal ticket itself and I can investigate further.

Thanks,
David Garske, wolfSSL

[2022-03-01 21:55] petertorelli opened #4910 "Stack Smashing Detected or SegFault on wc_InitRsaKey"
### Version

5.1.1

### Description

I'm seeing failures on Ubuntu 20.04 using gcc 9.3.0 for a trivial example:

Source code:
[code]

Configure command, no options at all:

[code]
All tests pass on `make test`.

Error messages:

[code]

GDB log:

[code]

[2022-03-01 21:58] dgarske commented on #4910
Hi @petertorelli ,

Can you share your wolftest.c? I suspect you are not including `wolfssl/options.h` and the size of the RsaKey struct does not match what wolfSSL expects and your application is defining.

Thanks,
David Garske, wolfSSL

[2022-03-01 21:59] petertorelli commented on #4910
Hi, the code I listed is wolftest.c. Let me add options.h.

[2022-03-01 22:00] kaleb-himes commented on #4910
Peter,

Confirmed, if you include options.h it should resolve the undefined behavior you're observing. Here is a proposed patch to your app:

[code]

[2022-03-01 22:01] petertorelli commented on #4910
Resolved. Thank you. Is `options.h` generally required for all WolfSSL-based applications or just RSA?

[2022-03-01 22:01] #4910 closed

[2022-03-01 22:03] kaleb-himes commented on #4910
@petertorelli it is for all (with a slight caveat)

Either <wolfssl/options.h> (when using ./configure to build) or <wolfssl/wolfcrypt/settings.h> (for all other cases)

You may include one or both but they should ALWAYS be the first header before any other wolfssl header in any application to avoid undefined behavior.

Cheers,

- KH

[2022-03-01 22:09] petertorelli commented on #4910
Hi @kaleb-himes,

So if I'm building Wolfssl I need to use /options.h, but if I downloaded it or some other scenario I use /wolfcrypt/settings.h?

That's a little confusing, can you direct me to the manual so I can read up on that? It leads me to believe that my code wouldn't be portable unless the recipient was aware of how I had built/installed wolfssl?

Thanks,
Peter

[2022-03-01 22:15] kaleb-himes commented on #4910
Peter,

Gladly! Here is a blog post on it: https://www.wolfssl.com/how-do-i-manage-the-build-configuration-of-wolfssl/
(For any other build stuff please see [Chapter 2 of the wolfSSL Manual](https://www.wolfssl.com/docs/wolfssl-manual/ch2/)

In general if you are building on unix/linux for unix/linux or cross-copiling for an embedded target using a toolchain and autoconf/libtool with `./configure`

[2022-03-02 18:37] t0x1c commented on #4887
David,
I tried to compile wolfssl from your tick_pad - problem seems to be resolved.
Though I was not able install it from the source code package obtained on github (some files seem to be missing compared to the release package offered on wolfssl.com). So I just took 5.2.0 release package and replaced "src", "wolfssl", and "wolfcrypt" folders with the ones in your branch. make(compile) worked wel

[2022-03-02 18:41] dgarske commented on #4887
Hi @t0x1c ,

Glad to hear PR 4908 fixed the issue! I'll assign it for merge.

If you clone from GitHub you need to run `./autogen.sh` first to build the configure files. I suspect that is the reason for the difference.

Thanks,
David Garske, wolfSSL

[2022-03-02 18:42] t0x1c commented on #4887
Oh, my bad. Thanks for info!

[2022-03-03 11:53] julek-wolfssl commented on #4593
Hi @mandree, https://github.com/wolfSSL/wolfssl/pull/4807 has been merged. Is there anything else you would like to address in this issue?

[2022-03-04 22:18] kareem-wolfssl commented on #4594
Hi @mandree ,

My apologies for the delay on this.  Please try https://github.com/wolfSSL/wolfssl/pull/4925 and confirm it fixes the issue for you.

Thanks,
Kareem

[2022-03-07 12:30] julek-wolfssl commented on #4593
@mandree I'm closing this issue for now. Feel free to open if you feel this matter is not resolved.
Juliusz

[2022-03-07 12:30] #4593 closed

[2022-03-07 18:07] kareem-wolfssl commented on #4744
@CookiePLMonster The PR was merged with a slight change, we are now using `XSTAT_TYPE` to override the `struct XSTAT` definition to allow for more flexibility.  So you will need to `#define XSTAT_TYPE struct _stat`.

[2022-03-07 22:05] mandree commented on #4593
Ah well, what can I say. Branch master, commit a9cc1ca87, still breaks... same way.

OK, I admit I am playing dumb here, and do NOT #define OPENSSL_COMPATIBLE_DEFAULTS.
**If** wolfSSL claims an OpenSSL drop-in compatible interface, it will just have to define OPENSSL_COMPATIBLE_DEFAULTS by itself when an application pulls in the OpenSSL-compatible headers, for instance, `openssl/ssl.h`.

And do no

[2022-03-07 22:12] mandree commented on #4594
Kareem, thank you. This seems to work for me if I remove the `#ifdef SSL_R_NULL_SSL_METHOD_PASSED /* wolfSSL does not define this error */` and `#endif` lines in fetchmail's socket.c
=> looks good to me. This was something on Ubuntu 16.04 which is no longer supported, so it's quite hard for me to test in practice.

[2022-03-08 00:53] ilikdoge opened #4935 "[Bug]: wolfcrypt aes gcm segmentation fault"
### Contact Details

_No response_

### Version

master

### Description

./configure --enable-fast-rsa --enable-intelasm --enable-sp --enable-sp-math --enable-sp-asm --enable-sp-math-all --enable-fastmath --enable-tls13 --enable-sni --enable-aesni --enable-alpn --enable-aesgcm-stream --prefix=/usr

linux 5.13 x86_64

wc_AesGcmEncryptUpdate segmentation fault executing aligned move on unaligned st

[2022-03-08 13:54] julek-wolfssl commented on #4593
@mandree Thanks you for this new report. This is a "harmless" bug where we were expecting a failure but succeeding due to the behaviour of `OPENSSL_COMPATIBLE_DEFAULTS`. I posted a fix here https://github.com/wolfSSL/wolfssl/pull/4936.

[2022-03-08 17:08] kareem-wolfssl commented on #4935
Thanks for the report.  Working on reproducing it here.

[2022-03-08 17:41] #4747 closed

[2022-03-08 17:44] kareem-wolfssl commented on #4591
Hey @AMDmi3 ,

We don't enable this by default, as it is not required by everyone, and we aim to keep our default configuration as small as possible.  Even if we did enable it by default, a user could disable it and try to build wget2, and run into this issue.
The solution is to only compile/use ALPN if wolfSSL was built with support for it.  Since your HTTP/2 feature depends on it, you will need

[2022-03-08 18:07] rockdaboot commented on #4591
Thanks @kareem-wolfssl !
IMO, this is definitely shouting for a run-time check. I am notthat deep into the API, maybe you can give me a hint how to do this ?

[2022-03-08 18:25] kareem-wolfssl commented on #4591
Sure, first make sure you are including `wolfssl/options.h` before any other wolfSSL headers.  Then, wrap your wolfSSL ALPN/HTTP2 code in: `#ifdef HAVE_ALPN` ... `#endif`.  You will probably want to provide an `#else` case which returns an error like "not compiled in".

[2022-03-08 18:54] kareem-wolfssl commented on #4935
Reproduced.

Instructions:

[code]

[code]
Environment: Fedora Linux on i7-1165G7 (WSL2)

@SparkiDev please take a look.

[2022-03-08 19:19] kareem-wolfssl commented on #4611
Hi @agathauy ,

Did my previous suggestion help?  Are you still seeing this issue?

[2022-03-08 23:30] SparkiDev commented on #4935
Hi @ilikdoge

I've put up a pull request that fixes this issue: https://github.com/wolfSSL/wolfssl/pull/4939
Let me know how it goes for you!

Thanks,
Sean :-)

[2022-03-09 00:39] ilikdoge commented on #4935
The changes in the pull request work, thanks for the quick response. I'm still rather new to github and git so if there's something I need to do for this issue, please let me know.

I've taken a look at your changes which was also what I did to temporarily fix my problem on my end, however I did not encounter any issues with aligned vector moves with other registers, so it may be possible to align

[2022-03-09 01:05] ilikdoge commented on #4935
In my testing it seems that aligned pointer only gives <1% speed boost unfortunately

[2022-03-09 02:04] SparkiDev commented on #4935
Hi @ilikdoge
From looking at the instruction timing document I have, Risen processors have the same performance characteristics for VMOVDQA and VMOVDQU.
The Piledriver CPU, though, had a slower VMOVEDQU when loading (if I read the table right).
In your last message did you try with and without aligned moves and saw little difference?

[2022-03-09 02:09] ilikdoge commented on #4935
Yes, the instruction doesn't matter as much as whether the pointer is actually aligned. When I tested AES GCM with aligned pointers it did not give a measurable performance increase, so it's not worth it to keep the aligned instructions.

[2022-03-09 02:11] ilikdoge commented on #4935
I am going to close this issue as it is resolved. Hopefully the pull request be merged soon. Thanks!

[2022-03-09 02:11] #4935 closed

[2022-03-09 02:11] SparkiDev commented on #4935
Great, thanks for the confirmation.
I'll let you know when the PR has been merged!

[2022-03-09 02:11] SparkiDev commented on #4935
Thanks for the confirmation.

[2022-03-16 22:35] petertorelli opened #4962 "Question: Why doesn't `wc_RsaSSL_Sign` perform PKCS1_v15 encoding?"
### Version

5.1.1

### Description

This is a general design question, not a bug.

I'm comparing various crypto implementations and observed that in wolfCrypt's `wc_RsaSSL_Sign` function, it does not perform the DER encoding per the PKCS1_v15 standard, but it does however offer PKCS1_v15 padding option. The user must call `wc_EncodeSignature` before signing. It is a little confusing if RsaSSL is

[2022-03-17 07:52] SparkiDev commented on #4962
Hi @petertorelli
The wc_RsaSSL_Sign function is for the SSL/TLS handshake.
Performing the DER encoding is not required for signature in early SSL/TLS.
We do have a generic wc_Signature API that will do the encoding.

[2022-03-17 13:46] petertorelli commented on #4962
Thanks, was not aware of wc_Signature.

[2022-03-17 13:46] #4962 closed

[2022-03-19 18:53] CookiePLMonster commented on #4744
Thank you! I have now updated the dependent PR https://github.com/RPCS3/rpcs3/pull/11378 and I can confirm that these changes work fine.

[2022-03-19 18:53] #4744 closed

[2022-03-20 14:57] jensguballa opened #4970 "[Bug]: Selection between status_request and status_request_v2 inconsistent"
### Contact Details

_No response_

### Version

5.2.0

### Description

./configure --enable-ocspstapling --enable-ocspstapling2
Target platform: Linux kirk 5.13.0-35-generic #40-Ubuntu SMP Mon Mar 7 08:03:10 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

Starting the server:
./examples/server/server -C 5000 -x -p 44330 -d

### Testcase1:
Sending a ClientHello (TLSv1.2) with the extensions in this sequ

[2022-03-22 17:53] julek-wolfssl commented on #4970
Hi @jensguballa,
thank you for your report. Please share your script for reproducing this issue. This will aid in solving this bug quickly.
Thanks,
Juliusz

[2022-03-22 19:11] jensguballa commented on #4970
I have used the tool tlsmate (https://gitlab.com/guballa/tlsmate) for the test.

Installation (I recommend using virtual environments):
[code]
Starting the TLS server (from the `examples/server` directory of the wolfssl build):
[code]

This is the test script:[tlsmate_wolfssl_ocsp.py.zip](https://github.com/wolfSSL/wolfssl/files/8327122/tlsmate_wolfssl_ocsp.py.zip)

Unzip the script and execute fr

[2022-03-23 10:24] julek-wolfssl commented on #4970
@jensguballa Thank you for providing an easy way to reproduce this bug. I never heard of tlsmate but from what I'm seeing I may use it in the future. The test case is very clean and make reproducing easy. I have posted a fix here: https://github.com/wolfSSL/wolfssl/pull/4978.

[2022-03-25 10:24] julek-wolfssl commented on #4970
@jensguballa https://github.com/wolfSSL/wolfssl/pull/4978 has been merged to wolfSSL master. Thanks again.

[2022-03-25 10:24] #4970 closed

[2022-03-25 20:19] jensguballa commented on #4970
Fix works. Great!

In case you have any comments or questions regarding tlsmate let me know, it is developed by me.

[2022-04-09 05:49] sarahSherifAli opened #5038 "fp_montgomery_reduce_ex and fp_montgomery_setup not working on a 32-bit RISC-V IBEX based SOC"
### Version

5.1.1

### Description

I am trying to run fp_montgomery_reduce_ex and fp_montgomery_setup on Chameleon SOC using RISC-V toolchain but it seems that there is a problem in the definitions as when I defined:
typedef unsigned int       fp_digit;
#define SIZEOF_FP_DIGIT 4
typedef ulong64            fp_word;

 fp_montgomery_reduce_ex works fine but fp_montgomery_setup doesn't work however

[2022-04-11 07:05] SparkiDev commented on #5038
Hi @sarahSherifAli

I can't see anything in fp_montfomery_setup that would not work with SIZEOF_DP_DIGIT at 4.
The code will calculate the inverse for the bottom word of the prime.
The code is written to support fp_digit being 32-bit and 64-bit.

Sean

[2022-04-11 18:44] petertorelli opened #5043 "[Bug]: STM32L4R5ZI requires HAL_RNG_DeInit in wc_GenerateSeed or it fails on second call."
### Contact Details

peter.j.torelli@gmail.com

### Version

5.2.0

### Description

I'm targeting a STM32L4R5ZI on a Nucleo-144 platform. The only deviations from the `wolfSSL.I-CUBE-wolfSSL_conf.h` are modifying the fall-through platform test by adding `#define WOLFSSL_STM32L4` and changing the `HAL_CONSOLE_UART`.

By default, the project initializes the RNG during the `main.c:MX_RNG_Init()` fun

[2022-04-11 22:20] petertorelli commented on #5043
I made a git repo with everything minus the Wolf `Middlewares` folder.

https://github.com/petertorelli/wolf-issue-5043

See function test_rng() which simply does a wc_InitRng like wc_GenerateSeed and fails with -199.

[2022-04-12 15:58] roysjosh opened #5048 "[Bug]: file descriptor leak during hash when AF_ALG is enabled"
### Contact Details

_No response_

### Version

libwolfssl5.1.1.161d7861 - 5.1.1-stable-2

### Description

I am tracking down a file descriptor leak in hostapd/wpad. I am running 3 OpenWRT WAPs with the `wpad-wolfssl` package:
[code]

--------

See https://github.com/openwrt/openwrt/issues/9589#issuecomment-1096893930 but copy/pasted here also:

Getting closer. I added `bind` to the strace filte

[2022-04-12 22:07] JacobBarthelmeh commented on #5048
Hi @roysjosh, thank you for the report! Have been investigating into it. I would expect this type of leak in the case that wc_Sha256Free is not being called (https://github.com/wolfSSL/wolfssl/blob/master/wolfcrypt/src/sha256.c#L1673). The code is free'ing the sockets right before that AfalgHashInit function call and then free'ing the recreated ones once wc_Sha256Free is called. Am continuing to i

[2022-04-12 22:49] JacobBarthelmeh commented on #5048
Hi @roysjosh, can you alter the build and rerun with valgrind if possible? If so, adding the macro WOLFSSL_AFALG_HASH_KEEP to the build of wolfSSL (could just hard set the define of the macro in wolfssl/wolfcrypt/settings.h when building for testing) will create a dynamic buffer with each SHA256 structure. Valgrind would give a clear trace of where that memory leak was coming from in the case of w

[2022-04-13 09:46] Subetov opened #5051 "Test (check) fails on wolfssl-5.2.0-gplv3-fips-ready"
### Version

wolfssl-5.2.0-gplv3-fips-ready

### Description

./configure --enable-fips=ready
make
make check

### Testsuite summary for wolfssl 5.2.0**
TOTAL: 7
PASS:  3
SKIP:  0
XFAIL: 0
FAIL:  4
XPASS: 0
ERROR: 0

ready file /home/user/wolfssl-5.2.0-gplv3-fips-ready/wolfssl_resume_ready34117
-r          Resume session
-e
Starting example server for resume test...

-e
Resume test supported
./exa

[2022-04-14 00:56] kareem-wolfssl commented on #5043
Hi Peter,

Thanks for the report!  Indeed I see this issue, we are initializing the RNG in our GenerateSeed function but not DeIniting it.  I am working on some STM32 fixes and will include a fix for this issue in it.

Thanks,
Kareem

[2022-04-14 12:44] embhorn commented on #5051
Hello @Subetov

The FIPS hash has to be updated before the tests can pass,

`$ ./wolfcrypt/test/testwolfcrypt`

Here is a link to the FIPS Ready User Guide:
https://www.wolfssl.com/docs/fips-ready-user-guide/

Let us know if there are questions.

Thanks,
Eric @ wolfSSL Support

[2022-04-14 12:47] Subetov commented on #5051
Hello @embhorn
Thank you for reply.
I have already updated the hash, according to this page https://www.wolfssl.com/docs/fips-ready-user-guide .
Maybe a did something wrong.
Could you please provide correct example of updating the hash please.

[2022-04-14 12:56] roysjosh commented on #5048
Hmm so far I've got a ton of open fds without a stacktrace back to wolfssl. I'll have to load the libc debug files onto the WAP later.
[code]

I do get the following errors, in case you are interested:
[code]

[2022-04-14 13:01] embhorn commented on #5051
You can also use the FIPS hash script to update the hash:
`./fips-hash.sh`

Then make again:
`make`

And finally run make check:
`make check`

The error suggests that the path is invalid. Are you running the commands from the base wolfSSL directory?
[code]

[2022-04-14 13:13] Subetov commented on #5051
Yes, from the base (root) directory.
[code]

[2022-04-14 13:47] embhorn commented on #5051
Could you tell us about the operating environment? Is this running from Windows WSL by chance?

[2022-04-14 14:12] Subetov commented on #5051
@embhorn thank you so much!
Probably I did something wrong when I tried to update the hash manually, canceled the changes and the `./fips-hash.sh `did a trick.
I am sorry to bother you.
Thank you very much again

[2022-04-14 14:13] embhorn commented on #5051
Great to hear! I'll mark this as resolved.

[2022-04-14 14:13] #5051 closed

[2022-04-15 12:13] roysjosh commented on #5048
[code]

[2022-04-15 13:14] roysjosh commented on #5048
With wpad debug symbols installed:
[code]

[2022-04-15 13:22] roysjosh commented on #5048
hostapd/wpad crypto_wolfssl.c line 108 is the `wc_Sha256Final` call:
[code]

And line 172 is `wc_HmacSetKey`
[code]

[2022-04-18 16:37] dgarske commented on #5038
Hi @sarahSherifAli,

Have you tried building with the latest release or even latest master? What are the build errors you are seeing?

We have tested fast math on the RISC-V (HiFive Unleashed and HiFive1 Rev B) boards. See https://github.com/wolfSSL/wolfssl/tree/master/IDE/RISCV for details.

You might also try with `--enable-sp`, which should use the sp_c32.c math. This is our own math library (v

[2022-04-19 21:39] JacobBarthelmeh commented on #5048
Thanks @roysjosh for re-running with Valgrind and the code sections. I am putting together a patch for it. There should be free's of the structures in those functions once done, specifically wc_Sha256Free and wc_HmacFree, something like:

[code]

and

[code]

That would leak a fd as is without the free's when used with AF_ALG.

[2022-04-20 04:35] masap opened #5064 "[Bug]: d2i_ECPrivateKey() failure"
### Contact Details

masashi.honma@gmail.com

### Version

e89b4cce4c5fcb42c76b46afd945352e3ec0863f

### Description

When using ```./configure --enable-all``` trailing program works fine. But when using ```./configure --enable-md4 --enable-des3 --enable-pwdbased --enable-wpas --enable-wpas-dpp
--enable-opensslall --enable-opensslextra --enable-dsa --enable-keying-material --disable-tls13```, ```d

[2022-04-20 12:25] embhorn commented on #5064
Hi @masap

Thanks for this excellent report. I was able to reproduce with your instructions.

With `--enable-all`, the macro `WOLFCRYPT_HAVE_SAKKE` changes the value of `ECC_MAXSIZE`:

https://github.com/wolfSSL/wolfssl/blob/49f510544af1438312e86782123cb9a9acce9fbf/wolfssl/wolfcrypt/ecc.h#L152
[code]

@SparkiDev - should the max private key size be increased for non-SAKKE configs?

[2022-04-22 02:23] masap opened #5069 "[Bug]: EVP_PKEY_assign_EC_KEY() failed to assign private only key"
### Contact Details

masashi.honma@gmail.com

### Version

4a4b019e307a2cce25351270aea74d020bc5deda

### Description

In the following program `EVP_PKEY_assign_EC_KEY()` succeeds for `OpenSSL 1.1.1f` but fails for `wolfSSL`. It seems this check causes failure.
[code]

This is similar to #5064 but different issue.

### Reproduction steps

Run this program with `./configure --enable-all --enable-md4

[2022-04-22 12:39] embhorn commented on #5069
Hi @masap

Thanks for sharing this report.

@JacobBarthelmeh - perhaps we could do something like this with only the private key?
https://github.com/wolfSSL/wolfssl/blob/4a4b019e307a2cce25351270aea74d020bc5deda/wolfcrypt/src/ecc.c#L7716-L7724

[2022-04-22 17:24] elms commented on #4323
@Kiddinglife @al-sabr Good news, I have put a draft [PR](https://github.com/microsoft/vcpkg/pull/24348) to add vcpkg support. I'll work through the open issues and target merging after the next wolfSSL release.

[2022-04-22 17:25] elms commented on #3226
@wangwenx190 I've update https://github.com/wolfSSL/wolfssl/issues/4323 to indicate that there is a [PR](https://github.com/microsoft/vcpkg/pull/24348) to add vcpkg support

[2022-04-23 11:44] wangwenx190 commented on #3226
Thanks! That's really good to hear!

[2022-04-25 23:37] SparkiDev commented on #5038
Hi @sarahSherifAli

Could you please give us an example of when fp_montgomery_setup() doesn't work?
The code is designed to work with 32-bit and 64-bit when FP_64BIT is defined.

Thanks,
Sean Parkinson, wolfSSL

[2022-04-26 01:09] SparkiDev commented on #5064
Hi @masap
I've put up a pull request (#5083) that decodes the DER instead of interpreting the data as a raw key.
This fixes the issue properly.

Let me know if this works for you.

Thanks,
Sean Parkinson, wolfSSL

[2022-04-26 06:29] masap commented on #5064
Great ! Your PR works fine ! I will close this issue when the PR is merged.

And your PR also fixes #5069 as well. Is this to be expected?

[2022-04-26 07:22] SparkiDev commented on #5064
Hi @masap
I did test the POC from #5069 with the fix and saw that the import is now working properly and thus the rest of the calls will work too.

I'll let you know when it is merged.

Sean :-)

[2022-04-27 16:32] #5064 closed

[2022-04-27 16:35] #4893 closed

[2022-04-27 22:37] masap commented on #5069
Could I close this issue according to comment of @SparkiDev https://github.com/wolfSSL/wolfssl/issues/5064#issuecomment-1109440353 ?.

[2022-04-27 22:42] SparkiDev commented on #5069
Closing as fix for #5064 made the POC work.

[2022-04-27 22:42] #5069 closed

[2022-04-29 15:42] JacobBarthelmeh commented on #5048
https://github.com/wolfSSL/osp/pull/112/files#diff-15c5ba962d9512e2b43688d54131a9c424565ce79811a990064ec5a80234b9ef

[2022-04-29 22:52] roysjosh commented on #5048
Great, thank you!

[2022-05-05 16:11] rliebscher opened #5108 "SendCertificateVerify() creates invalid data when SendHandshakeMsg() returns WANT_WRITE"
### Contact Details

rene.liebscher@webfleet.com

### Version

wolfSSL 5.1.1

### Description

There will be created a wrong TLS fragment. It depends from the previous exchanged data.

The problem appears when while TLS connection establishment SendCertificateVerify() (internal.c) is called.
This calls SendHandshakeMsg(). This might return with WANT_WRITE because the lower layer is not ready to tr

[2022-05-05 16:38] embhorn commented on #5108
Hello @rliebscher

Thanks for this excellent report. We are reviewing internally and will post an update.

[2022-05-06 11:12] Cavalletta98 opened #5115 "Stack smashing detected"
### Version

5.3.0

### Description

Hi, i'm including the library in my project and build it using the CMakeLists.txt provided. Once i build the project and run it, i get this error: *** stack smashing detected ***: terminated. I have already imported the file options.h into my project but didn't fix it
Can someone help me?

[2022-05-06 16:46] embhorn commented on #5115
Hello @Cavalletta98

What config options are you using? I can try to reproduce your issue.

Thanks,
Eric @ wolfSSL Support

[2022-05-06 19:34] Cavalletta98 commented on #5115
I'm using the one inside examples/config . It Is called user_settings_all.h

[2022-05-09 13:01] embhorn commented on #5115
@Cavalletta98

Did you follow these instructions?
https://github.com/wolfSSL/wolfssl/blob/59fdf05155e43c14db8c9340d1fe32490094f89b/INSTALL#L79

Could you please try using the automake build? That will help us to know if it is a problem with the Cmake method.
https://github.com/wolfSSL/wolfssl/blob/59fdf05155e43c14db8c9340d1fe32490094f89b/INSTALL#L1

[2022-05-09 13:34] embhorn commented on #5115
Could you please try these instructions and let us know the result?
https://github.com/wolfSSL/wolfssl/blob/59fdf05155e43c14db8c9340d1fe32490094f89b/INSTALL#L94-L111

[2022-05-11 14:18] julek-wolfssl commented on #5108
Hi @rliebscher, this is an interesting bug report and I am able to reproduce issues stemming from `WANT_WRITE`'s being returned from the network layer. We are discussing how to best tackle this problem.
Thanks
Juliusz

[2022-05-12 15:36] Mario-DLH opened #5135 "Fatal error on building for zephyr"

[2022-05-12 17:35] kareem-wolfssl commented on #5135
Hi @Mario-DLH ,

Thanks for the report, I am working on reproducing it here.
No problem, I've transferred your issue over.

Thanks,
Kareem

[2022-05-13 00:42] shove70 opened #5141 "Hope to support RFC8998 (SM2, SM3, SM4), Thanks."
https://www.rfc-editor.org/rfc/rfc8998

[2022-05-13 17:09] dgarske commented on #5141
Hi @shove70 ,

We do support SM2 verify, but it is not in the public wolfSSL repository. Please emails facts@wolfssl.com if you are interested in evaluating it.

We will eventually add the other SM Chinese algorithms, but we will continue to keep them in a separate repository and release bundle.

Thanks,
David Garske, wolfSSL

[2022-05-16 09:22] shove70 commented on #5141
Thank you for your guidance.

[2022-05-16 09:22] #5141 closed

[2022-05-16 17:08] elms commented on #4245
@vaintroub Haven't heard back for a while and worked for others, so I'm marking it closed. Please open a new bug if you have any issues.

[2022-05-16 17:10] elms commented on #3412
@vppillai I was not able to reproduce this issue locally. I'm going to close this issue as it is on an old version and I couldn't reproduce. If you still have any issues with v5.3.0, please open a new bug report.

[2022-05-16 17:10] #3412 closed

[2022-05-17 11:26] julek-wolfssl commented on #5108
Continued in https://github.com/wolfSSL/wolfssl/pull/5149.

[2022-05-17 21:45] JacobBarthelmeh commented on #5048
@roysjosh circling back on this case, the patch has since been accepted upstream https://w1.fi/cgit/hostap/commit/?id=1f7e10177a7687526ebd5ff0d72a3974b7c91687.

[2022-05-17 21:45] #5048 closed

[2022-05-18 12:38] embhorn commented on #5115
@Cavalletta98 - were you able to build successfully? Can I mark this issue as resolved?

[2022-05-18 12:46] Cavalletta98 commented on #5115
Sorry for not answer but i'm trying to build in a different way as you suggest. You suggest to only build wolfssl but i'm trying to build wolfssl inside my project by using my own CMakeLists.txt

[2022-05-18 17:35] elms commented on #4323
vcpkg for wolfSSL, wolfMQTT, and wolfTPM have merged https://github.com/microsoft/vcpkg/pull/24348

[2022-05-18 17:35] #4323 closed

[2022-05-18 18:28] gojimmypi opened #5154 "Espressif ESP-IDF component install fails when target directory path has embedded spaces"
### Version

current version

### Description

The [Windows Espressif ESP-IDF setup_win.bat](https://github.com/wolfSSL/wolfssl/blob/master/IDE/Espressif/ESP-IDF/setup_win.bat) component install does not properly handle spaces in the `IDF_PATH` or command-line parameter.

For example when someone has a `first last` login name and the ESP-IDF is installed for the current user desktop directory, the

[2022-05-19 18:56] haydenroche5 commented on #5115
Hi. If you want to configure wolfSSL with a user_settings.h file, you need to use this CMake option:

[code]

(i.e. your project's CMakeLists.txt needs to set `WOLFSSL_USER_SETTINGS` to 1). You do not need options.h if you're building with user_settings.h. They are essentially mutually exclusive.

However, this isn't the approach I would recommend. I would go the options.h route and turn on whatev

[2022-05-23 20:52] kareem-wolfssl commented on #4611
I am closing this issue as we have not heard back in some time, please feel free to re-open it if you are still experiencing this issue.  Thanks!

[2022-05-23 20:52] #4611 closed

[2022-05-24 06:31] liubing opened #5173 "[Bug]: MAX_ECC_STRING is not large enough (1 byte less)"
### Contact Details

liubing@warrenwell.com

### Version

5.3.0

### Description

Under Windows WOLFSSL_ECC_CURVE_STATIC automatically comes into play. For some curves, the allocated space for the hex number is not large enough. For example, ECC_SECP160R1, MAX_ECC_BITS = 160, so MAX_ECC_BYTES = 20, so the computed MAX_ECC_STRING would be 41. But look into the curve definition:
[code]
The 'order' i

[2022-05-26 09:11] kython28 opened #5185 "I got "revcd alert fatal error" from wolfSSL_connect"
### Version

5.3.0

### Description

I am creating a client application, and I am trying to connect to: "[ws-api.kucoin.com](http://ws-api.kucoin.com/)"

[code]

When I run the above I always get: -313. I've been trying all of the WOLFSSL_METHOD, and none of them work. I always get -313 or -326

[2022-05-26 16:49] kareem-wolfssl commented on #5185
Hi @kython28 ,

-326 (VERSION_ERROR) usually means you are missing support for the TLS version the site requires.  Looks like kucoin.com is using TLS1.3 + X25519 (disabled by default).  Please attach your build config (./configure or user_settings.h).  If you are missing any of the following, please add them and retry: `--enable-curve25519 --enable-tls13` (./configure)
[code]
(user_settings.h)

Fo

[2022-05-26 17:28] kython28 commented on #5185
Hello!

hello, I just recompiled with only the two options that you told me (previously I tried putting all of them) and I still can't connect, I always receive: -313

I also defined what you told me and added the CA certificate. Still not working :'(

Here my options:
[code]

[code]

[2022-05-26 17:35] kareem-wolfssl commented on #5185
Hi @kython28 ,

No need to include the defines since you are using ./configure.  We also do not recommend using `--enable-all`.
Please enable debug logging by adding `--enable-debug` and calling wolfSSL_Debugging_ON() before any other wolfSSL functions in your code, then attach your debug log here.  Please also confirm you're including wolfSSL settings with `#include <wolfssl/options.h>`.

[2022-05-26 18:02] kython28 commented on #5185
Ready. I did everything, I also confirm that I am including "wolfssl/options.h", and recompile with:
[code]

here are the logs:
[code]

[2022-05-26 18:27] kython28 commented on #5185
Sorry, I uploaded the CA wrong, I upload the log again.

[code]

Still, I keep getting the same error.

[2022-05-26 18:57] kareem-wolfssl commented on #5185
Thanks for the additional information, looks like the server is using SNI.  Please try enabling SNI with `--enable-sni`, and call `wolfSSL_CTX_UseSNI(ctx, WOLFSSL_SNI_HOST_NAME, "ws-api.kucoin.com", strlen("ws-api.kucoin.com"));` before connecting.

[2022-05-26 19:11] kython28 commented on #5185
OHHHH! IT WORKS!!!, thank you so much!!!

[2022-05-26 19:38] kython28 commented on #5185
Now I have the question, if through the code there is a way to know if the server uses SNI, to call that function before making the connection.

[2022-05-26 19:52] #5173 closed

[2022-05-26 19:57] kareem-wolfssl commented on #5185
Set up an SNI callback using `wolfSSL_CTX_set_servername_callback(ctx, yourSniCallback);`.  We will call this callback if we detect the server is using SNI, you can then enable SNI in your callback.
`typedef int (*CallbackSniRecv)(WOLFSSL *ssl, int *ret, void* exArg);`
Expected return codes: `warning_return, fatal_return, noack_return` to indicate issues, any other return code to indicate success.

[2022-05-27 06:33] kython28 commented on #5185
Thank so much!, it works! :-)

[2022-05-27 06:33] #5185 closed

[2022-05-30 14:12] ilka1999 opened #5190 "Please add "Microsoft x86-64 calling convention" support in sp_x86_64_asm.asm"
### Version

5.3.0

### Description

According to MS convention, registers XMM6-15 are nonvolatile. They must be saved and restored by a function that uses them

For example in the "wolfcrypt/src/sp_x86_64_asm.asm"

        sp_2048_get_from_table_avx2_16 PROC
           mov	rax, 1
           movd	xmm10, r8
           movd	xmm11, rax
           vpxor	ymm13, ymm13, ymm13
           vpermd	ymm10, ymm

[2022-05-30 23:08] SparkiDev commented on #5190
Hi @ilka1999

I've modified the assembly code to put the xmm6-xmm15 registers on the stack and restore them.
Please try this out and let us know how it goes!

Sean

[2022-05-30 23:13] SparkiDev commented on #5038
Hi @sarahSherifAli

Some time has passed since your initial comment.
Please let us know if this issue is still active.

Thanks,
Sean Parkinson, wolfSSL

[2022-05-31 09:01] ilka1999 commented on #5190
Hi @SparkiDev

1. Fixes are incomplete
    XMM is the low part of YMM
    There about 10 function in the code that change the ymm6-15 registers without saving XMM parts

2. I hope compilers will not use the entire YMM as non-volatile, if it is true we can save only xmm part.

3. My case. I am using clang 13.0.0, in the part of my code it uses xmm7 for zeroing data, but after wolfssl xmm7 is not ze

[2022-05-31 22:57] SparkiDev commented on #5190
Hi @ilka1999
1. I've fixed the 10 functions.
2. The MSVC documentation is clear that XMM only is non-volatile and it the high parts of the YMM registers is known to be volatile.
3. Your right, I was too worried about other stack usage after the stored XMM registers. Fixed.
4. I've changed the usage of _udiv128 for clang with _WIN64 to use inline assembly. Let me know if this works.

Thanks for wor

[2022-06-02 20:03] t0x1c commented on #4791
thanks! my hands are full, cant verify it right now, but assuming the changes it should work

[2022-06-03 00:04] petertorelli opened #5208 "Question about support for TLS v1.3 handshake with Ed25519/X25519"
### Version

5.1.1

### Description

Config: `$ ./configure CFLAGS=-DNO_RSA -pg -g --enable-ecc --enable-ed25519 --enable-eccencrypt --enable-curve25519`

I am trying to understand how TLS might use Ed25519, considering the caveats around ph and ctx versions of the signing algorithm. I see there are premade `certs/ed25519` server and CA certs/keys generated. However, I don't see a way to force the

[2022-06-03 06:48] SparkiDev commented on #5208
Hi @petertorelli

Ed25519 certificates can be passed to the server example as you would any other certificate using the option '-c' and you will also need to pass in the key with '-k'.

wolfSSL performs signatures with Ed25519 in the handshake as per the standards.
For TLS 1.2 and below: RFC 8422.
For TLS 1.3: RFC 8446 (TLS 1.3 RFC).

There are no specific cipher suites for Ed25519. The ECDSA ciph

[2022-06-03 15:23] petertorelli commented on #5208
@SparkiDev

Hi Sean, yes, this comment is what interests me, which isn't (AFAICT) specified in RFC8446 (esp. section 4.4.3):

"For TLS 1.3, we cache the messages that are to be hashed."

Since the only function used by `internal.c:Ed25519Sign` (as callback) and `ssl.c:wolfSSL_ED25519_sign` (unused?) is `wc_ed25519_sign_msg`, this confirms that the lib is not constructing the SHA512 hash first, the

[2022-06-03 15:23] #5208 closed

[2022-06-03 15:31] bathooman opened #5211 "[Bug]: DTLS Record Sequence Number non-conformance bug"
### Contact Details

_No response_

### Version

5.3.0

### Description

**Configure Options**

**Expected behavior**
The DTLS 1.2 [RFC](https://www.rfc-editor.org/rfc/rfc6347.html#page-13) specifies the following regarding record sequence numbers:

**Actual behavior**
One can complete a handshake with the following values for the record sequence number:

HVR.sequence_number = 4294967295
SH.sequen

[2022-06-04 20:54] gojimmypi commented on #5154
Although there are plans to address this, at this time it is currently a low priority as the [Espressif install](https://docs.espressif.com/projects/esp-idf/en/stable/esp32/get-started/) states "_ESP-IDF does not support spaces in paths_".

![image](https://user-images.githubusercontent.com/13059545/172025094-fb174f52-3930-4c25-8a61-df9c99ce0233.png)

[2022-06-04 22:28] gojimmypi opened #5215 "Missing explicit support for Espressif ESP32 WROVER, C3, S3"
### Version

current version

### Description

The [random.c](https://github.com/wolfSSL/wolfssl/blob/debb59849950bd92fe75d242ba59ddaa76153269/wolfcrypt/src/random.c#L2478) function for `wc_GenerateSeed` has a define for `WOLFSSL_ESPWROOM32`, `WOLFSSL_ESPWROOM32SE`, and `WOLFSSL_ESP8266` but needs one for `WOLFSSL_ESPWROVER` as well as the `-C3` and `-S3` flavors.

See https://github.com/wolfSSL/w

[2022-06-04 23:00] gojimmypi commented on #4272
tools such as `readelf` are helpful here:

[code]

compiling with Ubuntu WSL1 on Windows 10 with additional `-Wl,-rpath=/usr/local/lib` (thanks [SO](https://stackoverflow.com/a/67753144/5432351)) was also helpful:

[code]

but the best option was to add the `--prefix=/usr/` at wolfssl [install](https://github.com/wolfSSL/wolfssl/blob/master/INSTALL) time:

[code]

Thanks & credit @dgarske for the

[2022-06-04 23:00] #4272 closed

[2022-06-05 22:02] SparkiDev commented on #5190
Hi @ilka1999,,

Could you let me know if you've had a chance to try out the updated pull request?

Thanks,
Sean :-)

[2022-06-05 23:09] ilka1999 commented on #5190
Hi Sean

I was busy on other project.
I going to check your last changed on Monday

Best regards
Ilias

[2022-06-06 11:02] Cavalletta98 commented on #5115
Thank you for your help. We used your suggestions to improve our build system and making smaller application to test the issue. We finally found the problem: wrong buffer size in out application code (no relation to wolfssl library). Thank you again for your support

[2022-06-06 18:51] ilka1999 commented on #5190
Hi @SparkiDev

I checked the code, now the registers are saved and restored correctly.

It would be possible to provide x64 stack alignment and use MOVDQA instead of MOVDQU , but I don't think this is critical, because. there is no call to any third-party functions from the code.

Unfortunately, at the moment I can not check the execution of code version 5.3.0 (I use version 5.1.0). In version 5.3

[2022-06-06 22:25] SparkiDev commented on #5190
Hi @ilka1999
Using MOVDQA over MOVDQU is not a big advantage with newer chips. We don't consider it worthwhile at this time.

Thanks for the update about encryption. Please let me know which algorithm you are using. The WIN64 asm code for AES is different from for Linux x64 and so may need to be changed separately.

Sean

[2022-06-06 22:58] #5190 closed

[2022-06-09 08:26] bathooman opened #5224 "[Bug]: DTLS Message Sequence Number Equality Non-conformance"
### Version

5.3.0

### Description

**Configure Options**

**Expected behavior**

The DTLS 1.2 RFC ([Errata ID 5186](https://www.rfc-editor.org/errata/eid5186)) specifies two requirements regarding the equality of the message sequence number:

1- Equality of the message sequence number in `CH0` and `HVR`:

   case of multiple cookie exchanges, the server MUST use the record
   sequence number in

[2022-06-09 10:10] bathooman opened #5225 "[Bug]: DTLS Multiple Length fields Non-conformances"
### Version

5.3.0

### Description

**Configure Options**

**Expected behavior**

Fundamentally, a length field in a record structure should specify the number of bytes for the respective object. Moreover, The DTLS 1.2 RFC states that:

**Actual behavior**

According to the RFC, invalid records (records containing invalid fields such as invalid length fields) should be discarded. However, On diff

[2022-06-09 10:31] bathooman opened #5226 "[Bug]: DTLS Invalid Version"
### Version

5.3.0

### Description

**Configure Options**

**Expected behavior**

The DTLS 1.2 RFC states that:

**Actual behavior**

Since DTLS 1.1 does not exist, any record with that version is considered wrongly formatted and should be discarded. However, for the `CH0` and `CH2`, one can provide the value `fe fe` (1.1) as the version for both the `record version` and `handshake version` and s

[2022-06-09 18:47] rizlik commented on #5225
Hi @bathooman ,

Thanks a lot for the detailed report, we are investigating the issues.
Can you provide a quick way to reproduce the issue you mentioned?
That would really helps.
If you want to communicate with us in a more private manner, you can reach us directly at support@wolfssl.com.
Thanks

[2022-06-11 00:40] gojimmypi opened #5233 "[Bug]: Turning on WOLFSSL_NO_CONST_CMP causes compile failure"
### Contact Details

jim@wolfssl.com

### Version

Latest master branch

### Description

When turning on `WOLFSSL_NO_CONST_CMP`, in my case for the ESP32, with this [user_settings.h](https://github.com/gojimmypi/wolfssh/blob/a1f15195bfb0f3b2edc413a8d337cb674a8e7d10/examples/ESP32-SSH-Server/components/wolfssl/include/user_settings.h#L38) file, I get compile errors for missing `ConstantCompare` th

[2022-06-13 15:43] dgarske commented on #5233
Hi @gojimmypi ,

This is an improper use of `WOLFSSL_NO_CONST_CMP`. ConstantCompare is required for many algorithms. What prompted you to consider using `WOLFSSL_NO_CONST_CMP`?

This was added to provide a reduced build option for RSA/SHA2-256 only (see https://github.com/wolfSSL/wolfssl/pull/1960).

Thanks,
David Garske, wolfSSL

[2022-06-13 19:31] gojimmypi commented on #5233
Hi @dgarske

I would think that if someone wanted to squeeze every drop of performance and knew the concerns of `ConstantCompare()` timing, that the `WOLFSSL_NO_CONST_CMP` could be defined as desired.

In my case, I stumbled upon this problem in desperation while working on the SHA256 acceleration features when failing the [wc_RNG_HealthTest() at the second Hash_DRBG_Generate()](https://github.com

[2022-06-13 22:44] dgarske commented on #5233
Hi @gojimmypi ,

Your understanding of `WOLFSSL_NO_CONST_CMP` is wrong. It is not to change behavior, but to reduce code size when the function ConstantCompare is not used.

The function `ConstantCompare` is a way to compare bytes using a constant time implementation where all bytes are checked even if a mismatch is found early. The typical memcmp exists early if a difference is found. For compare

[2022-06-13 23:17] SparkiDev commented on #5038
Hi @sarahSherifAli

I'm afraid I have to close this issue due to inactivity.
If you have further questions please re-open or raise a new issue.

Sean

[2022-06-13 23:38] #5233 closed

[2022-06-13 23:38] gojimmypi commented on #5233
aha! thanks for the clarification.

[2022-06-15 17:49] guidovranken opened #5247 "[Bug]: mp_exptmod_ex does not fail if modulus is 0"
### Contact Details

_No response_

### Version

Git repository checkout

### Description

It would be more appropriate to fail because a value modulo 0 has no solution.

### Reproduction steps

[code]

[code]

[2022-06-15 18:17] embhorn commented on #5247
Hi @guidovranken

Thanks for this report. I was able to reproduce and I have assigned this to be reviewed.

[2022-06-16 00:48] SparkiDev commented on #5247
Hi @guidovranken

A fix has been put up for this: https://github.com/wolfSSL/wolfssl/pull/5252
I could only see an issue with the implementation in tfm.c.

Thanks,
Sean

[2022-06-16 08:55] rizlik commented on #5225
Hi @bathooman,
#5246 should have fixed this. Can you confirm that?
Thanks,

[2022-06-16 12:05] guidovranken commented on #5247
Confirmed fixed.

[2022-06-16 12:05] #5247 closed

[2022-06-16 23:30] ejohnstown commented on #5211
I have a fix for this. I'll do a single PR for all these issues.

[2022-06-19 08:58] space88man opened #5263 "[Symbol spelling] wolSSL instead of wolfSSL (no "f")"
### Version

master

### Description

 git grep wolSSL

[code]

Is the spelling wrong or some insider joke?

[2022-06-19 15:24] space88man opened #5264 "[Bug]: SIGSEGV as (sub)struct in WOLFSSL not aligned to 16 bytes"
### Contact Details

shihping.chan@gmail.com

### Version

5.3.0

### Description

I found a case where gcc(8.5.0/11)  generates `movaps` asm  in `-O2` and `-O` and the structure `ssl->buffers.serverDH_P` was not aligned to 16 bytes
Flags

[code]

[code]

I don't know why gcc chose `movaps` instead of `movups` since it can't guarantee ~~didn't ensure~~
the struct-in-struct-in-struct (the `WOLFSSL-

[2022-06-19 15:33] space88man commented on #5264
clang 13 generates `movups`:

[code]

[2022-06-19 23:07] SparkiDev commented on #5263
Hi @space88man,

Thanks for raising the issue!
A pull request has been put up that fixes this issue: #5265

Sean

[2022-06-19 23:07] #5263 closed

[2022-06-20 02:52] space88man commented on #5264
Update: I am using  a custom memory allocator but the allocations are guaranteed on 8-byte boundaries.

The location which is affected by `-DWOLFSSL_USE_ALIGN`

[code]

This `ALIGN16` macro causes gcc to emit `movaps`. With clang the macro is not defined so it always emits `movups`.